{% extends 'circle_base.html' %}
{% load staticfiles %}

{% block title %}
    问题详情页
{% endblock %}

{% block content %}
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12 content detail">
                <div class="fly-panel detail-box">
                    <h1>{{ question.title }}</h1>
                    <div class="detail-about">
                        <a class="fly-avatar" href="/circle/user/home/{{ question.user_id }}">
                            <img src="{% static 'images/default_user.jpg' %}"
                                 alt="默认用户头像">
                        </a>
                        <p>
                            {{ question.title }}
                        </p>
                        <div class="fly-detail-user">
                            <a href="/circle/user/home/{{ question.user_id }}" class="fly-link">
                                <cite>{{ question.user.username }}</cite>
                            </a>
                            <span>{{ question.created_time }}</span>
                        </div>
                    </div>
                    <div class="detail-body photos">
                        <pre>{{ question.content }}</pre>
                    </div>
                </div>

                <div class="fly-panel detail-box" id="flyReply">
                    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                        <legend>回帖</legend>
                    </fieldset>

                    <ul class="jieda" id="jieda">
                        <li data-id="111" class="jieda-daan">
                            <a name="item-1111111111"></a>
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar" href="">
                                    <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                         alt=" ">
                                </a>
                                <div class="fly-detail-user">
                                    <a href="" class="fly-link">
                                        <cite>贤心</cite>
                                        <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                        <i class="layui-badge fly-badge-vip">VIP3</i>
                                    </a>

                                    <span>(楼主)</span>
                                </div>

                                <div class="detail-hits">
                                    <span>2017-11-30</span>
                                </div>

                                <i class="iconfont icon-caina" title="最佳答案"></i>
                            </div>
                            <div class="detail-body jieda-body photos">
                                <p>香菇那个蓝瘦，这是一条被采纳的回帖</p>
                            </div>
                            <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>66</em>
              </span>
                                <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
                                <div class="jieda-admin">
                                    <span type="edit">编辑</span>
                                    <span type="del">删除</span>
                                    <!-- <span class="jieda-accept" type="accept">采纳</span> -->
                                </div>
                            </div>
                        </li>
                        {% for comment in comments %}
                            <li data-id="111">
                                <div class="detail-about detail-about-reply">
                                    <a class="fly-avatar" href="">
                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                             alt=" ">
                                    </a>
                                    <div class="fly-detail-user">
                                        <a href="" class="fly-link">
                                            <cite>{{ comment.user.username }}</cite>
                                        </a>
                                    </div>
                                    <div class="detail-hits">
                                        <span>{{ comment.created_time }}</span>
                                    </div>
                                </div>
                                <div class="detail-body jieda-body photos">
                                    <p>{{ comment.comment }}</p>
                                </div>
                                <div class="jieda-reply">
                              <span class="jieda-zan" type="zan">
                                <i class="iconfont icon-zan"></i>
                                <em>0</em>
                              </span>
                                    <span type="reply">
                                        <i class="iconfont icon-svgmoban53"></i>
                                        回复
                                    </span>
                                    <div class="jieda-admin">
                                        <span type="edit">编辑</span>
                                        <span type="del">删除</span>
                                        <span class="jieda-accept" type="accept">采纳</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="layui-form layui-form-pane">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="comment" required lay-verify="required"
                                              placeholder="请输入评论内容" class="layui-textarea fly-editor"
                                              style="height: 150px;">
                                    </textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <input type="hidden" name="jid" value="123">
                                <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}