{% extends 'circle_base.html' %}
{% load staticfiles %}

{% block title %}
    问题详情页
{% endblock %}

{% block content %}
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12 content detail">
                <div class="fly-panel detail-box">
                    <h1>{{ question.title }}</h1>
                    <div class="detail-about">
                        <a class="fly-avatar" href="/circle/user/home/{{ question.user_id }}">
                            <img src="{% static 'images/default_user.jpg' %}"
                                 alt="默认用户头像">
                        </a>
                        <p>
                            {{ question.title }}
                        </p>
                        <div class="fly-detail-user">
                            <a href="/circle/user/home/{{ question.user_id }}" class="fly-link">
                                <cite>{{ question.user.username }}</cite>
                            </a>
                            <span>{{ question.created_time }}</span>
                        </div>
                    </div>
                    <div class="detail-body photos">
                        <pre>{{ question.content }}</pre>
                    </div>
                </div>

                <div class="fly-panel detail-box" id="flyReply">
                    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                        <legend>回帖</legend>
                    </fieldset>

                    <ul class="jieda" id="jieda">
                        {% for comment in comments %}
                            <li data-id="111">
                                <div class="detail-about detail-about-reply">
                                    <a class="fly-avatar" href="/circle/user/home/{{ comment.user.id }}">
                                        <img src="{% static 'images/default_user.jpg' %}"
                                             alt="默认用户头像">
                                    </a>
                                    <div class="fly-detail-user">
                                        <a href="/circle/user/home/{{ comment.user.id }}" class="fly-link">
                                            <cite>{{ comment.user.username }}</cite>
                                        </a>
                                    </div>
                                    <div class="detail-hits">
                                        <span>{{ comment.created_time }}</span>
                                    </div>
                                </div>
                                <div class="detail-body jieda-body photos">
                                    <p>{{ comment.comment }}</p>
                                </div>
                            </li>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </ul>

                    <div class="layui-form layui-form-pane">
                        <form action="{% url 'circle:reply' %}" method="post">
                            {% csrf_token %}
                            <div class="layui-form-item layui-form-text">
                                <input type="hidden" name="question_id" value="{{ question_id }}">
                                <div class="layui-input-block">
                                    <textarea name="comment" id="" cols="30" rows="10" placeholder="请输入评论内容"
                                              style="height: 150px;" class="layui-textarea fly-editbox"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}