<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的相册</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
</head>
<body>
<!-- 嵌入导航栏页面 -->
{% include 'head.html' %}

<!-- 宏定义 -->
{% import 'macros.html' as index_macro %}
<!-- 背景图片 -->
<div class="bgimg">

</div>
{{ index_macro.lists_tip("图片列表","不要轻易放弃，学习成长的路上，我们长路漫漫，只因学无止境。") }}
<!-- 图片展示页面 -->
<div class="items">
    {{ index_macro.pics_content("/static/images/a.jpg","Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结",336) }}
    {{ index_macro.pics_content("/static/images/b.jpg","Python基础学习总结",336) }}
    {{ index_macro.pics_content("/static/images/c.jpg","Python基础学习总结",336) }}
    {{ index_macro.pics_content("/static/images/d.jpg","Python基础学习总结",336) }}
</div>
<div class="items">
    {{ index_macro.pics_content("/static/images/a.jpg","Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结",336) }}
    {{ index_macro.pics_content("/static/images/b.jpg","Python基础学习总结",336) }}
    {{ index_macro.pics_content("/static/images/c.jpg","Python基础学习总结",336) }}
    {{ index_macro.pics_content("/static/images/d.jpg","Python基础学习总结",336) }}
</div>
<!-- 导入底部文件 -->
{% include 'footer.html' %}
<!-- 加载js -->
<script src="/static/js/index.js"></script>
<script>
    //调用获取焦点的函数
    getFocus($("#l3 a"))
</script>
</body>
</html>