{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的相册</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
</head>
<body>
<!-- 嵌入导航栏页面 -->
{% include 'head.html' %}

<!-- 背景图片 -->
<div class="bgimg">

</div>
<div class="title">
    <div class="ltip">
        {# {{ tip }}#}
        图片列表
    </div>
    <div class="rtip">
        {#{{ msg }}#}
        不要轻易放弃，学习成长的路上，我们长路漫漫，只因学无止境。
    </div>
</div>
<!-- 图片展示页面 -->
<!-- 首页的内容 左侧 pics_content(imgurl,tip,num) -->


<div class="items">
    <div class="item" data-scroll-reveal="top|bottom 10px 3 3">
        <div>
            <img src="
            {% block imgurl_pics_content %}
                {% static 'images/a.jpg' %}
            {% endblock %}" alt="">
        </div>
        <p>{% block tip_pics_content %}
            Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结Python基础学习总结
        {% endblock %}</p>
        <span>喜欢 | {% block num_pics_content %}
            {#{{ num }}#}8
        {% endblock %}</span>
    </div>
</div>

<!-- 导入底部文件 -->
{% include 'footer.html' %}
<!-- 加载js -->
<script src="/static/js/index.js"></script>
<script>
    //调用获取焦点的函数
    getFocus($("#l3 a"))
</script>
</body>
</html>