{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    案例展示
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <!-- 背景图片 -->
    <div class="bgimg">

    </div>
    <div class="title">
        <div class="ltip">
            {# {{ tip }}#}
            案例列表
        </div>
        <div class="rtip">
            {#{{ msg }}#}
            案例介绍
        </div>
    </div>
    <!-- 图片展示页面 -->
    <!-- 首页的内容 左侧 pics_content(imgurl,tip,num) -->


    <div class="items">
        <div class="item" data-scroll-reveal="top|bottom 10px 3 3">
            <div>
                <img src="{% static 'images/a.jpg' %}" alt="">
            </div>
            <p>
                微信管理工具
            </p>
            <span>喜欢 | {#{{ num }}#}8</span>
        </div>
    </div>
{% endblock %}

{% block downjs %}
    <!-- 加载js -->
    <script src="/static/js/index.js"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l3 a"))
    </script>
{% endblock %}
