{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    开发者
{% endblock %}

{% block css %}
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/style-projects.css' %}">
{% endblock %}



<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>

{% block content %}
    <!-- Header -->
    <div class="row container-kamn">
        <img src="{% static 'assets/img/slider/slide9.jpg' %}" width="100%" class="blog-post" alt="Feature-img"
             align="right" width="100%">
    </div>

    <!--End Header -->
    <!-- Main Container -->

    <div id="banners"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blockquote-box blockquote-info animated wow fadeInLeft clearfix">
                    <div class="square pull-left">
                        <img src="{% static 'assets/img/team/member2.png' %}" alt="Feature-img" height="80" width="100">
                    </div>
                    <h4>
                        倪齐民
                    </h4>
                    <p>
                        java资深开发工程师,15年开发经验
                    </p>
                </div>
                <div class="blockquote-box blockquote-primary animated wow fadeInLeft clearfix">
                    <div class="square pull-left">
                        <img src="{% static 'assets/img/team/member1.png' %}" alt="Feature-img" height="80" width="100">
                    </div>
                    <h4>
                        桂纶镁
                    </h4>
                    <p>
                        UI高级设计师,同时也是多个开源项目的开发者和维护者。
                    </p>
                </div>
                <div class="blockquote-box blockquote-success animated wow fadeInLeft clearfix">
                    <div class="square pull-left">
                        <img src="{% static 'assets/img/team/member2.png' %}" alt="Feature-img" height="80" width="100">
                    </div>
                    <h4>
                        何云伟
                    </h4>
                    <p>
                        长期致力于HTML5、Java、CSS3、jQuery<br>以及HTML5跨平台开发的技术研究
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blockquote-box blockquote-danger animated wow fadeInRight clearfix">
                    <div class="square pull-left">
                        <img src="{% static 'assets/img/team/member3.png' %}" alt="Feature-img" height="80" width="100">
                    </div>
                    <h4>
                        廖雪峰
                    </h4>
                    <p>
                        十年软件开发经验，对开源框架有深入研究<br>精通Java/Python/Ruby/Scheme/Objective C等
                    </p>
                </div>
                <div class="blockquote-box blockquote-warning animated wow fadeInRight clearfix">
                    <div class="square pull-left">
                        <img src="{% static 'assets/img/team/member2.png' %}" alt="Feature-img" height="80" width="100">
                    </div>
                    <h4>
                        Chris Way
                    </h4>
                    <p>
                        iOS Developer , Technext
                    </p>
                </div>
                <div class="blockquote-box blockquote-info animated wow fadeInRight clearfix">
                    <div class="square pull-left">
                        <img src="{% static 'assets/img/team/member1.png' %}" alt="Feature-img" height="80" width="100">
                    </div>
                    <h4>
                        Rango
                    </h4>
                    <p>
                        13年曾在某大型电商搜索负责PHP和C扩展方面的事务。<br>现负责某公司架构设计、公共组件、基础服务相关开发的工作。<br>是一个PHP和C程序员，略懂JS、Go、Python。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--End Main Container -->
{% endblock %}








{% block downjs %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}



