{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    开发者
{% endblock %}

{% block css %}
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/style-projects.css' %}">
    <style>
        .green {
            color: #5e80ea !important
        }

        #nav a {
            font-size: 16px;
        }
    </style>
{% endblock %}


{% block content %}
    <!-- Header -->
    <div class="row container-kamn">
        <img src="{% static 'assets/img/slider/slide9.jpg' %}" width="100%" class="blog-post" align="right">
    </div>

    <!--End Header -->
    <!-- Main Container -->
    <div id="banners"></div>
    <div class="container">
        <div class="row">
            {% for developer in developers %}
                <div class="col-md-12">
                    <div class="blockquote-box animated wow fadeInLeft clearfix">
                        <div class="square pull-left">
                            <img src="{% static 'assets/img/team/member1.png' %}" alt="Feature-img" height="80"
                                 width="80">
                        </div>
                        <h4>
                            <a href="{% url 'outsource:developers_detail' developer.id %}">{{ developer.name }}</a>
                        </h4>
                        <p>
                            <span class="green">个人介绍: </span>
                            {{ developer.person_introduce }}
                        </p>
                        <p>
                            <span class="green">语言方向: </span>
                            <span>{{ developer.language_direction }}</span>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--End Main Container -->
{% endblock %}








{% block downjs %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

    <!-- 加载js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l3 a"))
    </script>
{% endblock %}




