{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    需求方指南
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/help/main.min.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="view-container detailed-footer transparent">
            <div id="mart-help-center">
                <div id="mart-page-header">
                    <div class="title">
                        <span>帮助中心</span>
                    </div>
                </div>

                <div class="help-wrapper">
                    <div class="help-nav">
                        <ul>
                            <li><a href="/help">帮助中心</a></li>
                            <li>需求方指南</li>

                            <div class="clear-fix"></div>
                        </ul>
                    </div>
                    <div class="help-body">
                        <div class="menu">
                            <div class="menu-list">
                                <div class="section-list">
                                    <div class="section">
                                        <h2>我是需求方</h2>
                                        <ul>
                                            <li class="category">
                                                需求方指南
                                            </li>
                                            <li class="category">
                                                发布项目
                                            </li>
                                            <li class="category">
                                                招募开发
                                            </li>
                                            <li class="category">
                                                支付款项
                                            </li>
                                            <li class="category">
                                                开发项目
                                            </li>
                                            <li class="category">
                                                验收项目
                                            </li>
                                            <div class="clear-fix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-wrapper">
                                <h2>需求方指南</h2>
                                <div class="right-list guide">
                                    <ul>
                                        <li>
                                            <div class="steps">
                                                <h2>一、发布项目需求</h2>
                                                <p>注册成为用户即可快速发布您的项目需求，有明确的需求及报价的项目发布成功后即开始接受开发方的报名。</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="steps">
                                                <h2>二、招募开发者</h2>
                                                <p>
                                                    项目发布后即可接受开发方的报名。您可在“我发布的项目”中选择结束竞标，进入详情页面直接看到开发方的报名信息，挑选您觉得合适的开发方进行合作。</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="steps">
                                                <h2>三、预付款项启动项目</h2>
                                                <p>确定开发方后支付定金，网站会发送邮件信息通知开发者。之后双方可以沟通，制定详细的项目阶段规划，预付第一阶段款项，正式开始项目的开发。查看项目状态以及指定详细的计划列表。在网站上下载<a href="{% url 'outsource:file_down' %}">《软件开发外包合同.pdf》</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="steps">
                                                <h2>四、阶段验收支付</h2>
                                                <p>
                                                    项目的验收支付将按照双方制定的阶段规划进行。遵循<a href="{% url 'outsource:file_down' %}">《软件开发外包合同.pdf》</a>。待开发方交付并经确认验收后，需求方支付相应的尾款，最大程度降低项目纠纷风险。</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="steps">
                                                <h2>五、项目质保</h2>
                                                <p>
                                                    质保期会按照您在发布需求时要求的质保周期进行，双方在制定阶段计划时建议把质保期考虑上，质保期的周期与阶段费用占比由双方在阶段划分时协商确定。质保期内开发方修复项目
                                                    bug 或调优结束后才验收支付。</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block downjs %}
    <!-- 加载js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l6 a"))
    </script>
{% endblock %}