{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    开发者指南
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/help/main.min.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="view-container detailed-footer transparent">

            <div id="mart-help-center">
                <div id="mart-page-header">
                    <div class="title">
                        <span>帮助中心</span>
                    </div>
                </div>

                <div class="help-wrapper">
                    <div class="help-nav">
                        <ul>
                            <li><a href="/help">帮助中心</a></li>
                            <li>开发者指南</li>

                            <div class="clear-fix"></div>
                        </ul>
                    </div>
                    <div class="help-body">
                        <div class="menu">
                            <div class="menu-list">
                                <div class="section-list">
                                    <div class="section">
                                        <h2>我是开发方</h2>
                                        <ul>
                                            <li class="category">
                                                开发者指南
                                            </li>
                                            <li class="category">
                                                注册认证
                                            </li>
                                            <li class="category">
                                                报名接单
                                            </li>
                                            <li class="category">
                                                开发项目
                                            </li>
                                            <li class="category ">
                                                项目验收
                                            </li>
                                            <div class="clear-fix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-wrapper">
                                <h2>开发者指南</h2>
                                <div class="right-list guide">
                                    <ul>
                                        <li>
                                            <span class="bg customer-bg1 web"></span>
                                            <div class="steps">
                                                <h2>一、注册并认证身份</h2>
                                                <p>注册成为 “开发者”，完成测试
                                                    能让你更了解交易规则，完善个人技能信息和项目经验即可开始报名接单。在报名项目前可以仔细阅读帮助中心文档以及[服务协议]有助于您在项目交易过程更顺利。需求方筛选了报名者的简历信息，确认了开发方后您即会收到是否被选中的通知。
                                                </p>
                                            </div>
                                            <span class="bg customer-bg1 mobile"></span>
                                        </li>
                                        <li>
                                            <div class="steps">
                                                <h2>二、项目阶段划分并启动</h2>
                                                <p>
                                                    确定被选为开发方后，主动积极与需求方沟通需求并做好项目阶段的规划，需求方在上确认项目阶段的划分并在开发宝上预付第一阶段的款项后就意味着可以正式启动开发工作了。</p>
                                            </div>
                                            <div class="bg customer-bg2"></div>
                                        </li>
                                        <li>
                                            <div class="bg customer-bg3 web"></div>
                                            <div class="steps">
                                                <h2>三、阶段交付收款</h2>
                                                <p>
                                                    按照阶段的规划，按时完成每一阶段任务，需求方确认验收后，该阶段款项将自动转入您的开发宝账户中，您可以对开发宝账户中的款项进行提现操作。</p>
                                            </div>
                                            <div class="bg customer-bg3 mobile"></div>
                                        </li>
                                        <li>
                                            <div class="steps">
                                                <h2>四、质保完成</h2>
                                                <p>与需求方协商项目是否设置质保期、质保期的长短、阶段费用占比，在质保期完成项目中程序的 bug
                                                    或调优工作后即顺利完成了整个项目的交易。</p>
                                            </div>
                                            <div class="bg customer-bg4"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






