{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    帮助页面
{% endblock %}
{% block css %}
    <style>
        #all {
            width: 1140px;
            height: 556px;
            background-color: #fff;
            margin: 20px auto;
            padding: 0;
            overflow: hidden;
        }

        #all > #a_set, #all > #b_set {
            display: inline-block;
            width: 45%;
            height: 500px;
        }

        #a_set {
            float: left;
        }

        #a_set > a {
            display: block;
            margin: 40px 67px 194px 124px;
        }

        #b_set {
            float: right;
            margin: 0 0 90px 0;
        }

        #b_set > a {
            display: block;
            margin: 40px 124px 194px 67px;
        }

        #topic {
            padding: 50px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="all">
        <div id="topic">
            <h1>帮助</h1>
        </div>
        <div id="a_set">
            <a href="{% url 'outsource:guide1' %}"><img src="{% static "/images/requester.png" %}" alt=""></a>
        </div>
        <div id="b_set">
            <a href="{% url 'outsource:guide2' %}"><img src="{% static "/images/developer.png" %}" alt=""></a>
        </div>
    </div>
{% endblock %}

{% block downjs %}
    <!-- 加载js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l6 a"))
    </script>
{% endblock %}