{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    主页
{% endblock %}

{% block content %}
    <!-- 第一层 包含轮播图 和右侧区域 -->
    <div id="layer1">
        <!-- 左边导航 -->
        <div class="lleft">
            <span id="imgleft">&lsaquo;</span>
            <img width="752" height="452" src="{% static "images/banner01.jpg" %}" id="img" alt="">
            <span id="imgright">&rsaquo;</span>
            <p>产品需求规划，是软件项目成功的关键</p>
        </div>
        <!-- 右边广告 -->
        <div class="lright">
            <!-- 首页的图片广告 -->
            <div class="box">
                <div class="proImg1"></div>
                <div class="pub"><a href="/publish">免费发布需求</a></div>
            </div>
            <div class="box" style="margin-top: 20px">
                <div class="proImg2"></div>
                <div class="pub"><a href="/reg_dev">申请签约接单</a></div>
            </div>
        </div>
    </div>


    <!-- 第二层 包含新闻页 和右侧区域 -->
    <div id="layer2">
        <!-- 新闻页 -->
        <div class="cleft">
            {% for news in all_news %}
                <div class="ccon" data-scroll-reveal="top|bottom 10px 3 3">
                    <div class="cctitle">
                        <a href="{{ news.news_detail_url }}" style="text-decoration: none; color: #000000" target="_blank">{{ news.news_title }}</a>
                    </div>
                    <div class="ccframe">
                        <div>
                            <img src="{{ news.image_url }}" width="300" alt="">
                        </div>
                        <div class="ccframe-right">
                            <div class="ccright">
                                {{ news.news_tip }}
                            </div>
                            <div class="info">
                                {{ news.created_at }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- 新闻页 结束 -->

        <!-- 推荐页 -->
        <div class="cright">
            <h3>新闻排行榜</h3>
            <div class="line"></div>
            <ul class="side-list">
                <li><a href="#">12月2日每日新闻：鸿蒙2020年将超Linux，成全球第五大操作系统</a></li>
                <li><a href="#">11月29日每日新闻：工信部携号转网数据，电信转入最多、移动转出最多</a></li>
                <li><a href="#">11月28日每日新闻：亚马逊将发布二代自研芯片 继续挑战英特尔</a></li>
                <li><a href="#">11月27日每日新闻：我国33个研究前沿排名世界第一</a></li>
                <li><a href="#">11月26日每日新闻：联发科携手英特尔研发5G PC解决方案</a></li>
            </ul>
        </div>
    </div>
    <!-- 推荐页 结束 -->
    </div>
    <!-- 第二层 结束 -->
{% endblock %}

{% block downjs %}
    <!-- 加载js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l1 a"))
    </script>
{% endblock %}
