{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    项目列表
{% endblock %}

{% block css %}
    <link rel='stylesheet' type='text/css' href='{% static '/css/projects/bootstrap.min.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static '/css/projects/web-20190904.css' %}'>
    <link href="{% static '/css/projects/bootstrapValidator.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static '/js/projects/jquery-1.9.1.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/projects/bootstrap.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 result">
                <div class="sort projectListSort">
                    <span>排序</span><a datatype="fabushijian" href="javascript:void(0);">发布日期</a><a
                        datatype="xiangmuyusuan"
                        href="javascript:void(0);">项目预算</a>
                </div>
            </div>


            <div id="projectLists">
                <div class="col-md-9 col-lg-9 list">
                    <ul class="list-unstyled">
                        {% for page_ in page_obj %}
                            <li>
                                {# 新发布的图片 #}
                                <i class="icon_new"></i>
                                <div class="left_2" style="padding-top: 30px;display: block;color: red;text-align: center;height: 56px;
    line-height: 56px;font-size: larger;">
                                    {{ page_.kind }}
                                </div>
                                <div class="left_8">
                                    <h4>
                                        <a style="color: #333;" href="/projects/detail/{{ page_.id }}" target="_blank">
                                            {{ page_.project_name }} </a>
                                    </h4>
                                    <span>预算 <em class="green">{{ page_.budget }}元</em></span>
                                    <span>开发语言
                                            <em class='green'>{{ page_.language }}</em>
{#                                            <em class='green'>{{ request.session.passport_id }}</em>#}
{#                                            <em class='green'>{{ page_.id }}</em>#}
                                    </span>
                                    <span>开发周期 <em class='green'>{{ page_.cycles }}天</em></span>
                                    <div style="margin-top: 28px;">
                                        <span>发布日期</span><span class='green'>{{ page_.post_datetime }}</span>
                                    </div>
                                </div>
                                <div class="left_2">
                                    {% if page_.id not in collected_list  %}
                                        <a href="#">
                                            <i class="glyphicon gray active" id="heart_btn"
                                               onclick="collection(this,{{ page_.id }},{{ request.session.passport_id }})">
                                                收藏
                                            </i>
                                            <script>
                                                function collection(obj, projects_id, user) {
                                                    var is_collect = "True";
                                                    $.ajax(
                                                        {
                                                            url: "{% url 'outsource:collection' %}",
                                                            type: 'GET',
                                                            data: {
                                                                is_collect: is_collect,
                                                                projects_id: projects_id,
                                                                user: user
                                                            },
                                                            contentType: "application/json",
                                                            cache: false,
                                                            success: function (data) {
                                                                console.log(data);
                                                                alert("收藏成功");
                                                                window.location.reload()
                                                            },
                                                            error: function (xhr) {
                                                                console.log(xhr);
                                                                console.log(xhr.responseText);
                                                                window.location.reload()
                                                            }
                                                        }
                                                    );
                                                }
                                            </script>
                                        </a>
                                    {% else %}
                                        <a href="#">
                                            <i class="glyphicon gray active" id="heart_btn"
                                               onclick="collection(this,{{ page_.id }},{{ request.session.passport_id }})">
                                                已收藏
                                            </i>
                                            <script>
                                                function collection(obj, projects_id, user) {
                                                    var is_collect = "True";
                                                    $.ajax(
                                                        {
                                                            url: "{% url 'outsource:collection' %}",
                                                            type: 'GET',
                                                            data: {
                                                                is_collect: is_collect,
                                                                projects_id: projects_id,
                                                                user: user
                                                            },
                                                            contentType: "application/json",
                                                            cache: false,
                                                            success: function (data) {
                                                                console.log(data);
                                                                window.location.reload()
                                                            },
                                                            error: function (xhr) {
                                                                console.log(xhr);
                                                                alert(xhr.responseText);
                                                                window.location.reload()
                                                            }
                                                        }
                                                    );
                                                }
                                            </script>
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    {# 分页功能 #}
                    {# 上一页功能 #}
                    {% if page_obj.has_previous %}
                        <a href="{% url 'outsource:projects' %}?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% else %}
                        上一页
                    {% endif %}

                    {% for p in paginator.page_range %}
                        {% if p == page_obj.number %}
                            {{ p }}
                        {% else %}
                            <a href="{% url 'outsource:projects' %}?page={{ p }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}

                    {#下一页功能#}
                    {% if page_obj.has_next %}
                        <a href="{% url 'outsource:projects' %}?page={{ page_obj.next_page_number }}">下一页</a>
                    {% else %}
                        下一页
                    {% endif %}
                </div>
            </div>

            {#  右侧  #}
            <div class="col-md-3 col-lg-3">
                <div class="lable">
                    <h4>大家都在看的项目TOP10</h4>
                    <ul class="list-unstyled">
                        <li class="nowrap">
                            <b>01</b> <a class="nowrap" href="88054.html" target="_blank">
                            订单管理小程序 </a>
                        </li>
                        <li class="nowrap">
                            <b>02</b> <a class="nowrap" href="87871.html" target="_blank">
                            公众号开发 </a>
                        </li>
                    </ul>
                </div>
                <div class="lable">
                    <h4>竞争最激烈的项目TOP10</h4>
                    <ul class="list-unstyled">
                        <li class="nowrap">
                            <b>01</b> <a class="nowrap" href="87865.html" target="_blank">
                            微信商城开发 </a>
                        </li>
                        <li class="nowrap">
                            <b>02</b> <a class="nowrap" href="88093.html" target="_blank">
                            考试系统 </a>
                        </li>
                        <li class="nowrap">
                            <b>03</b> <a class="nowrap" href="87871.html" target="_blank">
                            公众号开发 </a>
                        </li>
                        <li class="nowrap">
                            <i>04</i> <a class="nowrap" href="88063.html" target="_blank">
                            Windows端燃料电池... </a>
                        </li>
                        <li class="nowrap">
                            <i>05</i> <a class="nowrap" href="88040.html" target="_blank">
                            网站问答频道开发项目 </a>
                        </li>
                        <li class="nowrap">
                            <i>06</i> <a class="nowrap" href="88039.html" target="_blank">
                            ios APP 项目外包 </a>
                        </li>
                        <li class="nowrap">
                            <i>07</i> <a class="nowrap" href="88083.html" target="_blank">
                            自助查询终端APP </a>
                        </li>
                        <li class="nowrap">
                            <i>08</i> <a class="nowrap" href="88043.html" target="_blank">
                            小程序和微信公众号开发 </a>
                        </li>
                        <li class="nowrap">
                            <i>09</i> <a class="nowrap" href="88052.html" target="_blank">
                            跨境电商ERP </a>
                        </li>
                        <li class="nowrap">
                            <i>10</i> <a class="nowrap" href="87875.html" target="_blank">
                            管理平台+APP+智能硬件 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
