{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    项目列表
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <!-- 背景图片 -->
    <div class="bgimg">

    </div>
    <!-- 首页的内容 右侧 显示图片的内容 lists_tip(tip,msg) -->
    <div class="title">
        <div class="ltip">
            项目列表
        </div>
        <div class="rtip">
            不要轻易放弃，学习成长的路上，我们长路漫漫，只因学无止境。
        </div>
    </div>


    <style>
        .project-list > .el-row {
            width: 1140px;
            margin: 20px auto 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
            padding: 16px 16px;
        }

        .project-list .row-shadow {
            background: #fff;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 3px 0 rgba(206, 210, 214, 0.6);
            box-shadow: 0 1px 3px 0 rgba(206, 210, 214, 0.6);
            -webkit-transition: all .2s;
            transition: all .2s;
        }

        .project-list .row-shadow:hover {
            -webkit-box-shadow: 0px 6px 12px 0px rgba(206, 210, 214, 0.2);
            box-shadow: 0px 6px 12px 0px rgba(206, 210, 214, 0.2);
        }


        .project-list > .el-row:last-child {
            margin-bottom: 0;
        }

        .project-list > .el-row .col-row {
            display: -ms-inline-flexbox;
            display: inline-flex;
            justify-content: space-between;
        }

        .project-list .project-img {
            width: 150px;
            height: 110px;
            min-width: 35px;
            min-height: 35px;
        }

        .project-list .title {
            font-size: 18px;
            color: black;
            font-weight: 700;
        }

        .project-list .title a {
            color: black;
            font-size: 16px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all; /* 不换行 */
            /*width:10rem;*/ /* 这儿对pc端影响太大，先注释掉，做适配的时候一定要注意 */
        }

        .project-list .title a:hover {
            color: #2093ff;
        }

        .project-list .money {
            color: #f00;
            font-size: 16px;
            font-weight: 400;
        }

        .project-list .money span {
            font-size: 16px;
        }

        .project-list .tags {
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: flex-start;
            width: 100%;
        }

        .project-list .tags .company {
            background: #FF3300;
            color: #fff;
        }

        .project-list .tags span {
            display: inline-block;
            max-width: 160px;
            min-width: 40px;
            background: rgba(245, 245, 245, 1);
            border-radius: 3px;
            text-align: center;
            height: 24px;
            line-height: 24px;
            font-size: 13px;
            margin-right: 8px;
            padding: 0px 10px;
            margin-bottom: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all; /* 不换行 */
            color: #666;
        }

        .project-list .others {
            margin-top: 5px;
        }

        .project-list .others .pubtime {
            height: 30px;
            line-height: 30px;
            display: inline-block;
            font-size: 14px;
            color: #999;
        }

        .project-list .others .bidding {
            height: 30px;
            line-height: 30px;
            display: inline-block;
            font-size: 14px;
            color: #999;
        }

        .project-list .others .hr {
            height: 30px;
            padding: 0 10px;
            color: #efefef;
        }

        .project-list .others .bidding b {
            font-size: 15px;
            color: #151519;
            font-weight: 700;
        }

        .project-list .others .skills {
            overflow: hidden;
            content: '';
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            font-size: 14px;
            color: #999;
            height: 30px;
            line-height: 30px;
            display: inline-block;
        }

        .project-list .others .view-count {
            height: 30px;
            padding-top: 0;
        }

        .project-list .others .view-time {
            text-align: right;
        }

        .project-list .others .view-skill {
            text-align: left;
        }

        .el-pagination button {
            display: inline-block !important;
        }

        .el-pagination button.btn-next {
            display: inline-block !important;
        }
    </style>
    <style>
        .divs {

        }

        .divs .imgs {
            display: inline-block;
        }

        .divs .infos {
            display: inline-block;
        }
    </style>
    <div data-v-e4478fca="" class="project-list">

        <div data-v-e4478fca="" class="row-shadow el-row">
            <div data-v-e4478fca="" class="el-col el-col-24">
                <div data-v-e4478fca="" class="el-row">
                    <div data-v-e4478fca="" class="el-col el-col-5"><a data-v-e4478fca=""
                                                                       href="/project/detail.html?id=12582549"
                                                                       target="_blank" style="display: inherit;"><img
                            data-v-e4478fca="" alt="" class="project-img"
                            data-src="https://zb.oschina.net/file/get?path=static/project-reward/cover/WEByingyong_2.png"
                            src="https://zb.oschina.net/file/get?path=static/project-reward/cover/WEByingyong_2.png"
                            lazy="loaded"></a></div>
                    <div data-v-e4478fca="" class="el-col el-col-19" style="margin-left: -5px; position: relative;">
                        <div data-v-e4478fca="" class="col-row"><span data-v-e4478fca="" class="title"><a
                                data-v-e4478fca=""
                                href="/project/detail.html?id=12582549"
                                target="_blank"
                                title="按需求建立一个WEB网站"
                                style="display: inherit; width: 400px;">按需求建立一个WEB网站</a></span>
                            <span data-v-e4478fca="" class="money">￥可议价</span></div>
                        <div data-v-e4478fca="" class="el-row"
                             style="margin-left: -10px; margin-right: -10px; padding: 5px 0px;">
                            <div data-v-e4478fca="" class="el-col el-col-18"
                                 style="padding-left: 10px; padding-right: 10px;">
                                <div data-v-e4478fca="" class="tags mb-4"><span data-v-e4478fca="">项目</span> <span
                                        data-v-e4478fca="">WEB应用</span> <span data-v-e4478fca=""><b data-v-e4478fca="">7&nbsp;天</b></span>
                                    <!----></div>
                            </div>
                            <div data-v-e4478fca="" class="el-col el-col-6"
                                 style="padding-left: 10px; padding-right: 10px; text-align: right; margin-top: 5px;"></div>
                        </div>
                        <img data-v-e4478fca="" src="/static/images/project/time.png" alt=""
                             style="position: absolute; top: 0px; right: 137px; width: 100px;">
                        <div data-v-e4478fca="" class="others">
                            <div data-v-e4478fca="" class="el-row">
                                <div data-v-e4478fca="" class="view-count view-skill el-col el-col-12"><span
                                        data-v-e4478fca="" class="skills">技能要求：</span></div>
                                <div data-v-e4478fca="" class="view-count view-time el-col el-col-12"><span
                                        data-v-e4478fca="" class="bidding">已竞标：<b data-v-e4478fca="">4</b> 人</span>
                                    <span
                                            data-v-e4478fca="" class="hr">|</span> <span data-v-e4478fca=""
                                                                                         class="pubtime">发布于<span
                                            data-v-e4478fca="" style="margin-left: 8px;">2019-12-03</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-shadow el-row">
            <div class="divs">
                <div class="imgs">
                    <img src="/static/images/1.png" alt="">
                </div>
                <div class="infos">
                    <div data-v-e4478fca="" class="col-row"><span data-v-e4478fca="" class="title"><a
                            data-v-e4478fca=""
                            href="/reward/detail.html?id=12522984"
                            target="_blank"
                            title="spring boot 可视化大屏"
                            style="display: inherit; width: 400px;">spring boot 可视化大屏</a></span>
                        <span data-v-e4478fca="" class="money">￥2000</span></div>
                    <div data-v-e4478fca="" class="el-row"
                         style="margin-left: -10px; margin-right: -10px; padding: 5px 0px;">
                        <div data-v-e4478fca="" class="el-col el-col-18"
                             style="padding-left: 10px; padding-right: 10px;">
                            <div data-v-e4478fca="" class="tags mb-4"><span data-v-e4478fca="">悬赏</span> <span
                                    data-v-e4478fca="">企业应用</span> <!----> <span data-v-e4478fca="">7天</span>
                            </div>
                        </div>
                        <div data-v-e4478fca="" class="el-col el-col-6"
                             style="padding-left: 10px; padding-right: 10px; text-align: right; margin-top: 5px;"></div>
                    </div>
                    <div data-v-e4478fca="" class="others">
                        <div data-v-e4478fca="" class="el-row">
                            <div data-v-e4478fca="" class="view-count view-skill el-col el-col-12"><span
                                    data-v-e4478fca="" class="skills">技能要求：Java</span></div>
                            <div data-v-e4478fca="" class="view-count view-time el-col el-col-12"><span
                                    data-v-e4478fca="" class="bidding">已竞标：<b data-v-e4478fca="">3</b> 人</span>
                                <span
                                        data-v-e4478fca="" class="hr">|</span> <span data-v-e4478fca=""
                                                                                     class="pubtime">发布于<span
                                        data-v-e4478fca="" style="margin-left: 8px;">2019-12-03</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 第二层 包含博客页 和右侧区域 -->
    <div id="layer2">
        <div class="cleft">
            <div class="ccon" data-scroll-reveal="top|bottom 10px 3 3">
                <div class="cctitle">
                    Python语言在人工智能方向的优势
                </div>
                <div class="ccframe">
                    <div>
                        <img src="/static/images/toppic01.jpg" width="300" alt="">
                    </div>
                    <div class="ccright">
                        <p>
                            当前环境, Python的语法在很大程度上适合人工智能领域的代码编写
                        </p>
                        <div class="info">
                            25161人已阅读
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="cright">
            <h3>特别推荐</h3>
            <div class="line"></div>
            <!-- 首页的内容 右侧 显示图片的内容 index_image(imgurl) -->

            <div data-scroll-reveal="top|bottom 10px 3 3">
                <img src="
                    {#{{ imgurl }}#}
                    /static/images/banner01.jpg
                    " width="300" alt="">
            </div>

        </div>
    </div>
{% endblock %}


{% block downjs %}
    <!-- 加载js -->
    <script src="/static/js/index.js"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l2 a"))
    </script>
{% endblock %}
