{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    项目详情页
{% endblock %}

{% block css %}
    <link rel='stylesheet' type='text/css' href='{% static '/css/projects/bootstrap.min.css' %}' media='all'>
    <link rel='stylesheet' type='text/css' href='{% static '/css/projects/web-20190904.css' %}' media="all">
    <link href="{% static '/css/projects/bootstrapValidator.min.css' %}" rel="stylesheet">

    <style type="text/css">
        .n_banner a {
            background: url(
            /static/images/projects/nei_banner.png) no-repeat center center;
        }

        .release a {
            color: #ffffff !important;
            text-align: center;
            background-color: #2EB135;
            width: 110px;
            border-radius: 20px;
        }

        .release .btn:hover {
            color: #ffffff;
        }

    </style>
{% endblock %}

{% block js %}
    <script src="{% static '/js/projects/jquery-1.9.1.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/projects/bootstrap.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="wrap">
        {# 项目状态进度条 #}

        <div class="bg-color-f5 pb-10 pt-20">
            <div class="container">
                <div class="project-progress">
                    <div class="progress-bar1">
                        <div class="single-blank"></div>
                        <div class="single status-color">
                            <div class="circle circle-color">
                                <div class="project-status">
                                    <p class="title1">
                                        发包方提交了项目
                                    </p>
                                    <p class="date">
                                        {{ project.post_datetime |date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single {% if project.is_Active %}{% else %}status-color{% endif %}">
                            <div class="circle circle-color">
                                <div class="project-status">
                                    <p class="title1">
                                        项目发布成功，项目竞标中
                                    </p>
                                    <p class="date">
                                        {{ project.post_datetime |date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single">
                            <div class="circle {% if project.is_Active %}{% else %}circle-color{% endif %}">
                                <div class="project-status">
                                    <p class="title1">
                                        发包方选定承接人,项目进入开发
                                    </p>
                                    <p class="date">

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-blank">
                            <div class="circle ">
                                <div class="project-status">
                                    <p class="title1">
                                        计划全部完成，项目完工
                                    </p>
                                    <p class="date">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 项目具体内容展示 #}
        <div class="bg-color-f5">
            <div class="container">
                <div class="clearfix">
                    <div class="project-detail clearfix">
                        <div class="left">
                            <div class="title-msg clearfix">
                                <div class="col-sm-10 clearfix">
                                    <h1 class="project-title" title="{{ project.project_name }}">
                                        {{ project.project_name }}
                                        <span class="status">
                                            {% if project.is_Active %}
                                                接单中
                                            {% else %}
                                                已接单
                                            {% endif %}
                                        </span>
                                    </h1>
                                </div>
                                <div class="col-sm-2">
                                    <p class="collect">

                                    </p>
                                </div>
                            </div>
                            <div class="owner">
                                <div class="col-sm-12">
                                    <p class="msg">
                                        发包方<a target="_blank" href="{% url 'outsource:publisher_detail' project.user_id %}"><span
                                            class="green">{{ project.user.username }}</span></a>
                                        <span>
                                            {{ project.post_datetime }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="project-msg">
                                <div class="col-sm-3">
                                    <div class="single">
                                        <p class="cat-name">
                                            {{ project.kind }} </p>
                                        <p class="cat-title">
                                            项目类型
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single">
                                        <p class="cat-name">
                                            {{ project.budget }}元
                                        </p>
                                        <p class="cat-title">
                                            项目预算
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single">
                                        <p class="cat-name">
                                            {{ project.cycles }}天 </p>
                                        <p class="cat-title">
                                            预计开发时间
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single">
                                        <p class="cat-name" title="{{ project.language }}">
                                            {{ project.language }}
                                        </p>
                                        <p class="cat-title">
                                            语言限制
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="project-describe">
                                <div class="col-sm-12">
                                    <p class="project-des-title">
                                        项目内容描述
                                    </p>
                                    <div class="project-content clearfix">
                                        <p>
                                            {{ project.project_desc|safe }}
                                        </p>
                                        <div class="col-sm-12">
                                            <p>资料下载</p>
                                            <a href="javascript:;" class="download">
                                                暂无资料
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if project.is_Active %}
                                <div class="bid clearfix">
                                    <div class="col-sm-12">
                                        <div class="col-sm-9 project-show">
                                            <span>&nbsp;</span>
                                            <p>
                                                竞标人数：<span class="org pd-r-20">{{ jingbiao_count }}人</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-3 bid-btn-div" style="overflow:hidden;">
                                            {% if user %}
                                                <a href="javascript:;" id="jiedan" class="jb_btn jb-btn-ok"
                                                   onclick="jingbiao(this,{{ project.id }},{{ request.session.passport_id }})">
                                                    我要竞标
                                                </a>
                                                <script>
                                                    function jingbiao(obj, project_id, user) {
                                                        console.log(project_id, user);
                                                        $.ajax({
                                                            url: "{% url 'outsource:jingbiao' %}",//路由
                                                            type: "GET",
                                                            contentType: "application/json",
                                                            dataType: "json",
                                                            cache: false,
                                                            data: {
                                                                project_id: project_id,
                                                                user: user
                                                            },
                                                            success: function (data) {
                                                                if (data.code === 200) {
                                                                    alert('您已成功竞标该项目,请等待发布人员进行选择!');
                                                                    window.location.reload();
                                                                } else if (data.code === 202) {
                                                                    alert(data.message)
                                                                } else {
                                                                    alert(data.message)
                                                                }
                                                            },
                                                            error: function (error) {
                                                                console.log('---django is wrong!!')
                                                            }
                                                        })
                                                    }
                                                </script>
                                            {% else %}
                                                <a href="{% url 'outsource:reg_dev' %}"
                                                   class="jb_btn jb-btn-ok">申请签约接单!</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="bid clearfix">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 project-show">
                                            <span>&nbsp;</span>
                                            <p>
                                                该项目已被接单！去看看其它项目吧！
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class=" related-recommend clearfix">
                                <h4 class="recommend-title clearfix">
                                    相关项目推荐
                                </h4>
                                <ul class=" tj_det list-unstyled">
                                    {% for recommend_project in recommend_projects %}
                                        <li>
                                            <a href="/projects/detail/{{ recommend_project.id }}"><span
                                                    class="green">{{ recommend_project.project_name }}</span></a>
                                            <span class="font-color-3">项目预算：{{ recommend_project.budget }}元</span>
                                            <span class="font-color-3">技术要求：{{ recommend_project.language }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="more-project">
                                    <a href="/projects" target="_blank">
                                        更多项目 >
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="waring-message">
                                <div class="message">
                                    <div class="reminder">警告：线上交易可以保障您的资金安全，私自线下交易可能带来安全风险。</div>
                                </div>
                            </div>
                            <div class="bidding-instructions">
                                <p class="bid-title">
                                    竞标须知
                                </p>
                                <p class="single1 single">
                                    <a href="#" target="_blank">
                                        为什么要付费竞标？
                                    </a>
                                </p>
                                <p class="single2 single">
                                    <a href="#" target="_blank">
                                        付费竞标规则
                                    </a>
                                </p>
                                <p class="single3 single">
                                    什么情况下竞标退费？
                                </p>
                                <p class="single4 single">
                                    <a href="#">
                                        如何提高竞标成功率？
                                    </a>
                                </p>
                            </div>
                            <div class="contact-service">
                                <p class="contact-title">
                                    如您有任何疑问，请咨询客服
                                </p>
                                <p class="qq1">
                                    <span class="services_kefu">客服QQ:</span>
                                    <a target="_blank"
                                       href="http://wpa.qq.com/msgrd?v=3&uin=2951121599&site=qq&menu=yes"><img
                                            border="0" src="http://wpa.qq.com/pa?p=2:2951121599:51" alt="点击这里给我发消息"
                                            title="点击这里给我发消息"/></a>
                                </p>
                            </div>
                            <div class="service-email">
                                <p class="service-email-title">
                                    客服邮箱
                                </p>
                                <p class="email">
                                    2951121599@qq.com
                                </p>
                            </div>
                            <div class="service-phone">
                                <p class="service-phone-title">
                                    客服电话
                                </p>
                                <p class="phone">
                                    15733927279
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block downjs %}
    <!-- 加载js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        //调用获取焦点的函数
        getFocus($("#l2 a"))
    </script>
{% endblock %}
