{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    发布项目
{% endblock %}
{% block css %}
    <style>
        .step-form .message-tip {
            margin: 25px;
            padding: 10px 20px;
            background-color: #ebf5fe;
            border: 1px solid #badefb;
            color: #73afe0;
            font-size: 12px;
        }

        input[type="submit"] {
            margin-top: 32px;
            height: 40px;
            text-decoration: none;
            background: #2f435e;
            color: #f2f2f2;
            padding: 10px 30px 10px 30px;
            font-size: 16px;
            font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
            font-weight: bold;
            border-radius: 3px;
            -webkit-transition: all linear 0.30s;
            -moz-transition: all linear 0.30s;
            transition: all linear 0.30s;
        }

        input[type="checkbox"] {
            text-indent: 0;
            width: 17px;
            height: 17px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            line-height: 15px;
            position: relative;
        }

        input[type="checkbox"]::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            width: 100%;
            height: 100%;
            border: 1px solid #bdbfc2;
        }

        input[type="checkbox"]:checked::before {
            content: "\2713";
            background-color: #37b048;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            font-size: 12px;
            font-weight: bold;
            outline: none;
            border: 1px solid #ccc;
        }

        .step-form {
            width: 1140px;
            background: white;
            margin: 100px auto 50px;
        }

        .project-name {
            margin: 0;
            outline: 0;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            line-height: 1.2142em;
            padding: .67861em 1em;
            font-size: 1em;
            background: #fff;
            border: 1px solid rgba(39, 41, 43, .15);
            color: rgba(0, 0, 0, .8);
            border-radius: .2857rem;
            box-shadow: 0 0 0 0 transparent inset;
            -webkit-transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
            transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="step-form">
        <div style="height: 3px"></div>
        <form id="newform" action="/publish" method="post">
            {% csrf_token %}
            <div class="message-tip">
                <p>1、请提供详细的项目资料，以便于我们为您推荐合适的开发者</p>
                <p>2、整包项目收费标准：报价含14%的平台服务费，如需开票另收税费6%</p>
                <p>3、项目发布之后，网站工作人员将在半个工作日内联系您</p>
            </div>
            <div class="field cover-field" style="margin-left: 25px">
                <label class="field-hd" style="margin-bottom: 25px">第一步：项目名称</label>
                <div style="height: 40px"></div>
                <input id="projectname" type="text" class="project-name" name="project_name"
                       placeholder="请输入项目名称，1-20个字以内" value="" maxlength="20"
                       style="width: 535px !important;display: block">
                <div style="height: 40px"></div>
            </div>

            <div class="field" style="margin-left:25px ">
                <label class="field-hd">第二步：我的项目类型 </label>
                <div style="height: 20px"></div>
                <div class="second">
                    <select name="kind"
                            style="width: 200px;height: 100%;font-size: 18px;color: #000000;border: 1px #000 solid;;position: relative;outline: 0;line-height: 2;">
                        {% for kind in all_kind %}
                            <option value="{{ kind }}">{{ kind }}</option>
                        {% endfor %}
                    </select>
                    <div style="height: 20px"></div>
                </div>
            </div>

            <div class="field" style="margin-left: 25px">
                <label class="field-hd" style="border-radius:20% ">第三步：项目预算（元）</label><br>
                <div style="height: 20px"></div>
                <input type="number" name="budget" maxlength="10"
                       style="width: 200px; height: 25.8px;background:#f7f9fb" value=""
                       placeholder=" 请输入您的资金预算">
                <div style="height: 20px"></div>
            </div>

            <div class="field" style="margin-left: 25px">
                <label class="field-hd" style="border-radius:20% ">第四步：开发语言（可多选）</label><br>
                <div style="height: 20px"></div>
                {% for language in all_language %}
                    <input type="checkbox" value="{{ language }}" name="language">{{ language }}
                    <div style="height: 20px"></div>
                {% endfor %}
                <div style="height: 10px"></div>
            </div>

            <div class="field" style="margin-left: 25px">
                <label class="field-hd" style="border-radius:20% ">第五步：开发周期（天）</label><br>
                <div style="height: 20px"></div>
                <input type="text" name="cycles" maxlength="10"
                       style="width: 200px; height: 25.8px;background:#f7f9fb" value=""
                       placeholder=" 请输入开发周期">
                <div style="height: 20px"></div>
            </div>

            <div class="field" style="width: 767px;margin-left: 25px">
                <label class="field-hd">第六步：我的项目介绍</label><br>
                <div style="height: 20px"></div>
                <textarea id="project_desc" name="project_desc"
                          style="height:140px;background: #f7f9fb; width:742px;margin-bottom: 20px;"
                          maxlength="500"></textarea>
                <div class="check-box" style="margin-bottom: 10px;">
                    <div class="ui checkbox" style="margin-bottom: 10px">
                        <input type="checkbox">
                        <label style="color: #1b1c1d"> 我已阅读并同意<a href="/help"
                                                                 target="_blank"
                                                                 style="color: blue">《程序员外包平台项目发布协议》</a></label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="发布" style="margin-right:10px;margin-bottom: 25px ">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
