<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-v-e4478fca="" class="project-list">
    <div data-v-e4478fca="" class="row-shadow el-row">
        <div data-v-e4478fca="" class="el-col el-col-24">
            <div data-v-e4478fca="" class="el-row">
                <div data-v-e4478fca="" class="el-col el-col-5"><a data-v-e4478fca=""
                                                                   href="/reward/detail.html?id=12522984"
                                                                   target="_blank" style="display: inherit;"><img
                        data-v-e4478fca="" alt="" class="project-img"
                        data-src="https://zb.oschina.net/file/get?path=static/project-reward/cover/qiyeyingyong_1.png"
                        src="https://zb.oschina.net/file/get?path=static/project-reward/cover/qiyeyingyong_1.png"
                        lazy="loaded"></a></div>
                <div data-v-e4478fca="" class="el-col el-col-19" style="margin-left: -5px; position: relative;">
                    <div data-v-e4478fca="" class="col-row"><span data-v-e4478fca="" class="title"><a data-v-e4478fca=""
                                                                                                      href="/reward/detail.html?id=12522984"
                                                                                                      target="_blank"
                                                                                                      title="spring boot 可视化大屏"
                                                                                                      style="display: inherit; width: 400px;">spring boot 可视化大屏</a></span>
                        <span data-v-e4478fca="" class="money">￥2000</span></div>
                    <div data-v-e4478fca="" class="el-row"
                         style="margin-left: -10px; margin-right: -10px; padding: 5px 0px;">
                        <div data-v-e4478fca="" class="el-col el-col-18"
                             style="padding-left: 10px; padding-right: 10px;">
                            <div data-v-e4478fca="" class="tags mb-4"><span data-v-e4478fca="">悬赏</span> <span
                                    data-v-e4478fca="">企业应用</span> <!----> <span data-v-e4478fca="">7天</span></div>
                        </div>
                        <div data-v-e4478fca="" class="el-col el-col-6"
                             style="padding-left: 10px; padding-right: 10px; text-align: right; margin-top: 5px;"></div>
                    </div> <!---->
                    <div data-v-e4478fca="" class="others">
                        <div data-v-e4478fca="" class="el-row">
                            <div data-v-e4478fca="" class="view-count view-skill el-col el-col-12"><span
                                    data-v-e4478fca="" class="skills">技能要求：Java</span></div>
                            <div data-v-e4478fca="" class="view-count view-time el-col el-col-12"><span
                                    data-v-e4478fca="" class="bidding">已竞标：<b data-v-e4478fca="">3</b> 人</span> <span
                                    data-v-e4478fca="" class="hr">|</span> <span data-v-e4478fca=""
                                                                                 class="pubtime">发布于<span
                                    data-v-e4478fca="" style="margin-left: 8px;">2019-12-03</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-e4478fca="" class="row-shadow el-row">
        <div data-v-e4478fca="" class="el-col el-col-24"><!---->
            <div data-v-e4478fca="" class="el-row">
                <div data-v-e4478fca="" class="el-col el-col-5"><a data-v-e4478fca=""
                                                                   href="/project/detail.html?id=12582549"
                                                                   target="_blank" style="display: inherit;"><img
                        data-v-e4478fca="" alt="" class="project-img"
                        data-src="https://zb.oschina.net/file/get?path=static/project-reward/cover/WEByingyong_2.png"
                        src="https://zb.oschina.net/file/get?path=static/project-reward/cover/WEByingyong_2.png"
                        lazy="loaded"></a></div>
                <div data-v-e4478fca="" class="el-col el-col-19" style="margin-left: -5px; position: relative;">
                    <div data-v-e4478fca="" class="col-row"><span data-v-e4478fca="" class="title"><a data-v-e4478fca=""
                                                                                                      href="/project/detail.html?id=12582549"
                                                                                                      target="_blank"
                                                                                                      title="按需求建立一个WEB网站"
                                                                                                      style="display: inherit; width: 400px;">按需求建立一个WEB网站</a></span>
                        <span data-v-e4478fca="" class="money">￥可议价</span></div>
                    <div data-v-e4478fca="" class="el-row"
                         style="margin-left: -10px; margin-right: -10px; padding: 5px 0px;">
                        <div data-v-e4478fca="" class="el-col el-col-18"
                             style="padding-left: 10px; padding-right: 10px;">
                            <div data-v-e4478fca="" class="tags mb-4"><span data-v-e4478fca="">项目</span> <span
                                    data-v-e4478fca="">WEB应用</span> <span data-v-e4478fca=""><b data-v-e4478fca="">7&nbsp;天</b></span>
                                <!----></div>
                        </div>
                        <div data-v-e4478fca="" class="el-col el-col-6"
                             style="padding-left: 10px; padding-right: 10px; text-align: right; margin-top: 5px;"></div>
                    </div>
                    <img data-v-e4478fca="" src="/static/images/project/time.png" alt=""
                         style="position: absolute; top: 0px; right: 137px; width: 100px;">
                    <div data-v-e4478fca="" class="others">
                        <div data-v-e4478fca="" class="el-row">
                            <div data-v-e4478fca="" class="view-count view-skill el-col el-col-12"><span
                                    data-v-e4478fca="" class="skills">技能要求：</span></div>
                            <div data-v-e4478fca="" class="view-count view-time el-col el-col-12"><span
                                    data-v-e4478fca="" class="bidding">已竞标：<b data-v-e4478fca="">4</b> 人</span> <span
                                    data-v-e4478fca="" class="hr">|</span> <span data-v-e4478fca=""
                                                                                 class="pubtime">发布于<span
                                    data-v-e4478fca="" style="margin-left: 8px;">2019-12-03</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-e4478fca="" class="pagination">
        <div data-v-e4478fca="" class="el-pagination">
            <button type="button" disabled="disabled" class="btn-prev"><i class="el-icon el-icon-arrow-left"></i>
            </button>
            <ul class="el-pager">
                <li class="number active">1</li><!---->
                <li class="number">2</li>
                <li class="number">3</li>
                <li class="number">4</li>
                <li class="number">5</li>
                <li class="number">6</li>
                <li class="el-icon more btn-quicknext el-icon-more"></li>
                <li class="number">15</li>
            </ul>
            <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
        </div>
    </div>
</div>
</body>
</html>