certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
django-ckeditor==5.4.0
django-js-asset==1.2.2
idna==2.8
Pillow==6.2.1
pycparser==2.19
pycryptodomex==3.9.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
python-alipay-sdk==2.0.1
pytz==2019.3
redis==3.4.1
requests==2.22.0
six==1.14.0
urllib3==1.25.7
