{% extends 'circle_base.html' %}
{% load staticfiles %}

{% block title %}
    众包网站 | 技术圈
{% endblock %}

{% block content %}
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="fly-panel">
                    <div class="fly-panel-title fly-filter">
                        <a>置顶</a>
                    </div>
                    <ul class="fly-list">
                        <li>
                            <a href="/circle/user/home/{{ question.user_id }}" class="fly-avatar">
                                <img src="https://ftp.bmp.ovh/imgs/2020/02/17b3122d1d013a56.jpg"
                                     alt="默认用户头像">
                            </a>
                            <h2>
                                <a class="layui-badge">公告</a>
                                <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="/circle/user/home/{{ question.user_id }}" link>
                                    <cite>管理员</cite>
                                </a>
                                <span>刚刚</span>
                                <span class="fly-list-nums">
                                    <i class="iconfont" title="人气">&#xe60b;</i> 9619
                                </span>
                            </div>
                            <div class="fly-list-badge">
                            </div>
                        </li>
                        <li>
                            <a href="/circle/user/home/{{ question.user_id }}" class="fly-avatar">
                                <img src="https://ftp.bmp.ovh/imgs/2020/02/17b3122d1d013a56.jpg"
                                     alt="默认用户头像">
                            </a>
                            <h2>
                                <a class="layui-badge">公告</a>
                                <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="/circle/user/home/{{ question.user_id }}" link>
                                    <cite>管理员</cite>
                                </a>
                                <span>2017-11-30</span>

                                <span class="fly-list-nums">
                                    <i class="iconfont" title="人气">&#xe60b;</i> 9619
                                </span>
                            </div>
                            <div class="fly-list-badge">
                            </div>
                        </li>
                        <li>
                            <a href="/circle/user/home/{{ question.user_id }}" class="fly-avatar">
                                <img src="https://ftp.bmp.ovh/imgs/2020/02/17b3122d1d013a56.jpg"
                                     alt="默认用户头像">
                            </a>
                            <h2>
                                <a class="layui-badge">公告</a>
                                <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="/circle/user/home/{{ question.user_id }}" link>
                                    <cite>管理员</cite>
                                </a>
                                <span>刚刚</span>

                                <span class="fly-list-nums">
                                    <i class="iconfont" title="人气">&#xe60b;</i> 9619
                                </span>
                            </div>
                            <div class="fly-list-badge"></div>
                        </li>
                        <li>
                            <a href="/circle/user/home/{{ question.user_id }}" class="fly-avatar">
                                <img src="https://ftp.bmp.ovh/imgs/2020/02/17b3122d1d013a56.jpg"
                                     alt="默认用户头像">
                            </a>
                            <h2>
                                <a class="layui-badge">公告</a>
                                <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="/circle/user/home/{{ question.user_id }}" link>
                                    <cite>管理员</cite>
                                </a>
                                <span>111</span>

                                <span class="fly-list-nums">
                                    <i class="iconfont" title="人气">&#xe60b;</i> 9619
                                </span>
                            </div>
                            <div class="fly-list-badge">
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="fly-panel" style="margin-bottom: 0;">
                    <div class="fly-panel-title fly-filter">
                        <a href="" class="layui-this">综合</a>
                        <span class="fly-mid"></span>
                        <a href="">未结</a>
                        <span class="fly-mid"></span>
                        <a href="">已结</a>
                        <span class="fly-mid"></span>
                        <a href="">精华</a>
                        <span class="fly-filter-right layui-hide-xs">
            <a href="" class="layui-this">按最新</a>
            <span class="fly-mid"></span>
            <a href="">按热议</a>
          </span>
                    </div>
                    <ul class="fly-list">
                        {% for question in questions %}
                            <li>
                                <a href="" class="fly-avatar">
                                    <img src="https://ftp.bmp.ovh/imgs/2020/02/17b3122d1d013a56.jpg"
                                         alt="默认用户头像">
                                </a>
                                <h2>
                                    <a class="layui-badge">问题</a>
                                    <a href="/circle/jie/detail/{{ question.id }}">{{ question.title }}</a>
                                </h2>
                                <div class="fly-list-info">
                                    <a href="/circle/user/home/{{ question.user_id }}" link>
                                        <cite>{{ question.user.username }}</cite>
                                    </a>
                                    <span>{{ question.created_time }}</span>

                                    <span class="fly-list-nums">
                                        <i class="iconfont icon-pinglun1" title="回答"></i> 回答
                                    </span>
                                </div>
                                <div class="fly-list-badge">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div style="text-align: center">
                        <div class="laypage-main">
                            <a href="{% url 'circle:index' %}" class="laypage-next">更多帖子</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title">本周热议</dt>
                    {% for hot_question in hot_questions %}
                        <dd>
                            <a href="/circle/jie/detail/{{ hot_question.id }}">{{ hot_question.title }}</a>
                        </dd>
                    {% endfor %}
                </dl>

                <div class="fly-panel">
                    <div class="fly-panel-title">
                        诚招广告
                    </div>
                    <div class="fly-panel-main">
                        <p class="fly-zanzhu"
                           style="background-color: #5FB878;">联系方式QQ:2951121599</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}