.con1 {
    position: relative;
    background-color: #ccc;
    margin: 8px auto;
    width: 75%;
    height: 20%;
    overflow: hidden;
}

.con1 img {
    float: left;
    margin: 2%;
    width: 15%;
}

.con1 .tb_info span {
    margin: 2%;
    text-align: right;
    float: right;
    /*background-color: #eee;*/
    width: 150px;
}


.con1 .r_div {
    padding: 5px 30px;
    position: relative;
    float: left;
    height: 50%;
    width: 60%;
    margin: 2%;
    margin-left: auto;
    /*background-color: #eee;*/
}

.con1 .tb_info a {
    font-weight: 700;
    color: black;
}

.con1 .r_div span {
    font-size: 12px;
    color: #276ec4;
    margin: 4px;
    padding: 1px 6px 1px 6px;
    background-color: #B5D6FC;
    border: solid 1px #eee;
    border-radius: 5px;
}

.con1 .r_div b {
    margin: 0 0 20px 30px;
    color: #0075ff;
    font-size: 20px;
}