{% extends 'trade_base.html' %}
{% load staticfiles %}

{% block title %}
    项目分享 | 提交项目
{% endblock %}

{% block content %}
    <div class="layui-container fly-marginTop">
        <div class="fly-panel" pad20 style="padding-top: 5px;">
            <div class="layui-form layui-form-pane">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">提交项目</li>
                    </ul>
                    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                        <div class="layui-tab-item layui-show">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="layui-row layui-col-space15 layui-form-item">
                                    <div class="layui-col-md6">
                                        <label for="L_title" class="layui-form-label"><i class="layui-icon">&#xe642;</i>&nbsp;项目名称</label>
                                        <div class="layui-input-block">
                                            <input type="text" id="L_title" name="title" required lay-verify="required"
                                                   autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-col-space15 layui-form-item">
                                    <div class="layui-col-md6">
                                        <label for="L_title" class="layui-form-label"><i class="layui-icon">&#xe64c;</i>&nbsp;项目网址</label>
                                        <div class="layui-input-block">
                                            <input type="text" id="L_title" name="link" required lay-verify="required"
                                                   autocomplete="off" class="layui-input" placeholder="必须包含http(s) 例如: https://www.baidu.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                    <textarea id="L_content" name="desc" required lay-verify="required"
                                              placeholder="项目描述" class="layui-textarea fly-editor"
                                              style="height: 260px;"></textarea>
                                    </div>
                                </div>
                                <div class="layui-row  layui-form-item">
                                    <div class="layui-col-md6">
                                        <label for="L_title" class="layui-form-label"><i class="layui-icon">&#xe64a;</i>&nbsp;项目封面</label>
                                        <input type="file" name="share_img" style="margin: 6px 24px;">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-filter="*" lay-submit>提交项目</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}