{% extends 'trade_base.html' %}
{% load staticfiles %}

{% block title %}
    项目分享 | 项目要求
{% endblock %}

{% block css %}
    <style>
        #nav a {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="height: 15px"></div>

    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12 content detail">
                <div class="fly-panel detail-box"><h1>即日起，【项目分享】必须符合以下要求</h1>
                    <div class="fly-detail-info">
                        <span class="layui-badge layui-bg-green fly-detail-column"> 公告 </span>
                    </div>
                    <div class="detail-about">
                        <a class="fly-avatar" href="">
                            <img src="{% static 'images/head.png' %}" alt="管理员">
                        </a>
                        <div class="fly-detail-user">
                            <a href="" class="fly-link">
                                <cite>管理员</cite>
                            </a>
                            <span>2020-01-01 </span>
                        </div>
                        <div class="detail-hits">
                            <span style="padding-right: 10px; color: #FF7200">项目分享组</span>
                        </div>
                    </div>
                    <div class="detail-body layui-text photos">
                        分享是一种开源精神，为尽可能保证案例具备一定的参考价值，特此对其设立审核标准。<br>
                        <hr>
                        1、项目分享案例不能直接仿站，与其网站界面相似。<br>2、项目分享案例必须具有独立域名，且访问速度不能过慢。<br>3、项目分享案例必须具备一定内容且正规，而不是一个空壳。<br>4、项目分享案例如果为后台模板，请提供下载地址。<br>5、项目分享案例如果是基于
                        其它 模板，必须有较大幅度改动。<br>6、项目分享，传承开源精神，共同推动互联网的发展。<br>
                        <hr>
                        还望理解。
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}