{% extends 'circle_base.html' %}
{% load staticfiles %}

{% block title %}
    技术圈 | 用户主页
{% endblock %}

{% block content %}
    <div class="fly-home fly-panel">
        <img src="{% static 'images/default_user.jpg' %}" alt="用户头像">
        <h1>
            {{ user.username }}
        </h1>
        <p class="fly-home-info">
            <i class="iconfont icon-shijian"></i><span>{{ user.created_time | date }} 加入</span>
        </p>
        <p class="fly-home-sign">个人描述: {% if user.description %}
            {{ user.description }}
        {% else %}
            暂无
        {% endif %}
        </p>
    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6 fly-home-jie">
                <div class="fly-panel">
                    <h3 class="fly-panel-title">{{ user.username }} 最近的提问</h3>
                    <ul class="jie-row">
                        {% for question in questions %}
                            <li>
                                <a href="/circle/jie/detail/{{ question.id }}"
                                   class="jie-title">{{ question.title }}</a>
                                <i>{{ question.created_time }}</i>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="layui-col-md6 fly-home-da">
                <div class="fly-panel">
                    <h3 class="fly-panel-title">{{ user.username }} 最近的回答</h3>
                    {% if comments %}
                        <ul class="home-jieda">
                            {#                    展示在哪个问题回答#}
                            {#                        {% for title in questions_title %}#}
                            {#                            <li>#}
                            {#                                <p>#}
                            {#                                    在<a href="/circle/jie/detail/{{ question.id }}">{{ title }}</a>中回答：#}
                            {#                                </p>#}
                            {#                            </li>#}
                            {#                        {% endfor %}#}

                            {% for comment in comments %}
                                <li style="overflow: hidden">
                                    <div class="home-dacontent">

                                        <a href="/circle/jie/detail/{{ comment.question_id }}">{{ comment.comment }}</a>
                                        <span style="float: right">评论时间：{{ comment.created_time }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="home-jieda">
                            <span style="color: red">暂无回答</span>
                        </ul>


                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}