{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <style>
        .main_con {
            width: 1140px;
            margin: 20px auto;
            overflow: hidden;
        }

        .left_menu_con {
            width: 200px;
            float: left;
        }

        .left_menu_con h3 {
            font-size: 18px;
            line-height: 40px;
            border-bottom: 2px solid #000;
            text-align: center;
            margin-bottom: 10px;
        }

        .left_menu_con ul li {
            line-height: 40px;
            text-align: center;
            font-size: 16px;
        }

        .left_menu_con ul li a {
            color: #666;
        }

        .left_menu_con ul li .active {
            color: #ac2925;
            font-weight: bold;
        }

        .right_content {
            width: 900px;
            float: right;
            min-height: 600px;
        }

        .info_con {
            width: 980px;
        }

        .common_title2 {
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            margin: 10px 0;
        }

        .user_info_list {
            background-color: #f9f9f9;
            margin: 10px 0 15px;
            padding: 10px 0;
            height: 570px;

        }

        .user_info_list li {
            line-height: 30px;
            text-indent: 30px;
            font-size: 14px;
        }

        .user_info_list li span {
            width: 100px;
            float: left;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="main_con">
        <div class="left_menu_con">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:user' %}" class="active">· 个人信息</a></li>
            </ul>
        </div>
        <div class="right_content">
            <div class="info_con">
                <h3 class="common_title2">基本信息</h3>
                <form action="/user/user_change/" method="post">
                    {% csrf_token %}
                    <ul class="user_info_list">
                        <li><span>用户名：</span>{{ request.session.username }}</li>
                        <li><span>手机号码：</span><input name="phone" type="text"></li>
                        <li><span>昵称：</span><input name="nickname" type="text"></li>
                        <li><span>真实姓名：</span><input name="name" type="text"></li>
                        <li><span>个人描述：</span><textarea name="desc" id="" cols="30" rows="10"></textarea></li>
                        <li><span>.</span><input type="submit" value="保存"id="save_btn"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#save_btn').on('click',function () {
            alert("保存成功! ")
        })
    </script>
{% endblock %}
