{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <style>
        .main_con {
            width: 1140px;
            margin: 20px auto;
            overflow: hidden;
        }

        .left_menu_con {
            width: 200px;
            float: left;
        }

        .left_menu_con h3 {
            font-size: 18px;
            line-height: 40px;
            border-bottom: 2px solid #000;
            text-align: center;
            margin-bottom: 10px;
        }

        .left_menu_con ul li {
            line-height: 40px;
            text-align: center;
            font-size: 16px;
        }

        .left_menu_con ul li a {
            color: #666;
        }

        .left_menu_con ul li .active {
            color: #ac2925;
            font-weight: bold;
        }

        .right_content {
            width: 900px;
            float: right;
            min-height: 600px;
        }

        .info_con {
            width: 980px;
        }

        .common_title2 {
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            margin: 10px 0;
        }

        .user_info_list {
            background-color: #f9f9f9;
            margin: 10px 0 15px;
            padding: 10px 0;
            height: 570px;

        }

        .user_info_list p {
            line-height: 30px;
            text-indent: 30px;
            font-size: 14px;
            display: inline-block;
            width: 100%;
        }

        .user_info_list p #alter_a {
            display: inline-block;
            width: 100px;
            font-size: 20px;
            border: 1px black solid;
            border-radius: 5px;
            padding: 2px;
            color: #eee;
            background-color: dimgrey;
        }

        .user_info_list p .span1 {
            width: 100px;
            float: left;
            text-align: left;
        }
        .user_info_list p .span2 {
            display: inline-block;
            width: 500px;
            float: left;
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="main_con">
        <div class="left_menu_con">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:user' %}" class="active">· 个人信息</a></li>
                {#                <li><a href="{% url 'user:collection' %}" {% if sort == 'default' %} class="active" {% endif %}>· 项目收藏</a></li>#}
                <li><a href="{% url 'user:collection' %}" class="active">· 项目收藏</a></li>
            </ul>
        </div>
        <div class="right_content">
            <div class="info_con">
                <h3 class="common_title2">基本信息</h3>
                <div class="user_info_list">
                    <p>
                        <span class="span1">用户名：</span><span class="span2">{{ request.session.username }}</span>
                    </p>
                    <p>
                        <span class="span1">邮箱：</span><span class="span2">{{ user.email }}</span>
                    </p>
                    <p>
                        <span class="span1">手机号码：</span><span class="span2">{{ user.phone }}</span>
                    </p>
                    <p>
                        <span class="span1">昵称：</span><span class="span2">{{ user.nickname }}</span>
                    </p>
                    <p>
                        <span class="span1">真实姓名：</span><span class="span2">{{ user.name }}</span>
                    </p>
                    <p>
                        <span class="span1">个人描述：</span><span class="span2">{{ user.description }}</span>
                    </p>
                    <p>
                        <a href="{% url 'user:user_change' %}" id="alter_a">
                            修改
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
