{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>{% block title %}众包网站{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/scrollReveal.js" %}"></script>

    {% block css %}

    {% endblock %}

    {% block js %}

    {% endblock %}
</head>
<body>
{% include 'head.html' %}
{#留出导航栏的固定宽度#}
<div style="height: 80px"></div>
{% block content %}

{% endblock %}

{% include 'footer.html' %}
</body>
{% block downjs %}

{% endblock %}
</html>