{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>{% block title %}众包网站{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/scrollReveal.js" %}"></script>

    {% block style %}

    {% endblock %}

    {% block js %}

    {% endblock %}
</head>
<body>
{% include 'head.html' %}
{% block content %}

{% endblock %}

{% include 'footer.html' %}
</body>
{% block downjs %}
{% endblock %}
</html>