<!DOCTYPE html>
<html lang="zh" class=" ">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>
			国内知名的专业IT技术社区-技术圈
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
		<meta name="keywords" content="IT技术社区,技术圈">
		<meta name="author" content="">
		<meta name="description" content="技术圈是程序员客栈打造的专业IT技术社区，顶级技术大咖在这里授课，百万程序员大牛在这里分享心得，致力打造一个只专注于互联网技术行业的圈子，方便全国程序员进行工作交流以及人脉拓展！">
                <meta name="mobile-agent" content="format=html5;url=http://jishuin.proginn.com/">
                <meta name="_token" content="okE6sb9mykJvSPLumTkALSiDgFm9QEL1AHCu7JWf">
                    <meta name="applicable-device" content="pc,mobile">
                            <link rel="canonical" href="http://jishuin.proginn.com/">
                <link rel="stylesheet" href="/static/css/semantic.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/inn.css">
        <link rel="stylesheet" href="/static/css/top.css">
        <link rel="stylesheet" href="/static/css/proginn.css">
        <link rel="stylesheet" href="/static/css/social_share.css">
        <link rel="shortcut icon" href="https://stacdn.proginn.com/favicon_new.ico">
        <script src="/static/js/hm.js.下载"></script><script src="/static/js/hm.js(1).下载"></script><script type="text/javascript">var baseUrl = "/";</script>
        <script>
            Config = {
                'cdnDomain': '/',
                'user_id': 90238,
                'routes': {
                    'notificationsCount' : 'https://jishuin.proginn.com/notifications/count',
                    'upload_image' : 'https://jishuin.proginn.com/upload_image'
                },
                'token': 'okE6sb9mykJvSPLumTkALSiDgFm9QEL1AHCu7JWf',
                'following_users': [],
            };
            window.csrf = 'okE6sb9mykJvSPLumTkALSiDgFm9QEL1AHCu7JWf';
			var ShowCrxHint = 'no';
        </script>

	    
	</head>
	<body class="proginn" id="body">

		<div id="wrap">

			<!-- <div style="height: 30px;line-height: 30px;font-size: 14px;text-align: center;">
</div> -->
<div class="header top-menu" id="top-menu">
    <!-- <div style="height: 30px;line-height: 30px;background-color: #FFFFCC;font-size: 14px;text-align: center;">
        【公告】因域名备案需要，站点域名将临时变更为“gitinn.com”,11月10日起原域名“proginn.com”暂停访问，预计为期1个月。如有不便，敬请谅解。<a href="https://www.gitinn.com/community/topics/3376">查看详情></a>
        【公告】程序员客栈 2019年春节期间服务安排通知（1月31日-2月11日）<a href="https://www.proginn.com/community/topics/3524">查看详情></a>
    </div> -->
    <div class="menu-container ui inverted menu i_header">
        <a href="https://jishuin.proginn.com/" class="item logo"></a>
        <a href="https://www.proginn.com/" class="item page">首页</a>
        <a href="https://www.proginn.com/cloud?from=top_nav" class="item page">云端工作</a>
        <a href="https://www.proginn.com/cat/" class="item page ">程序员</a>
        <style>
            #top-menu .menu-container .top-search .input{
                width: 234px;
            }
        </style>
        <div class="item item-div2" style="padding: 0;">
            <a class="item a-platform page" href="javascript:;">更多服务</a>
            <div class="ui dropdown right top pointing dropdown-platform" tabindex="-1">
                <div class="menu platform-menu2" style="padding-right: 25px; margin-top: -5px; display: none;" tabindex="-1">
                    <a href="http://jishuin.proginn.com/?from=top_nav" class="item">
                        <img src="/static/jishuin.png" style="width: 24px;height: 24px;margin-right: 5px;">技术圈</a>
                    <a class="item" href="http://www.binstd.com/?from=proginn">
                        <img src="/static/binstd.png" style="width: 24px;height: 24px;margin-right: 5px;">进制数据</a>
                    <!--<a class="item" href="https://www.proginn.com/type/interview/?from=top_nav" class="item">
                        <img src="https://stacdn.proginn.com/image/common/review.png" style="width: 24px;height: 24px;margin-right: 5px;"/>技术面试官</a>-->
                </div>
            </div>

        </div>
        <div class="item top-search" data-widget="top-search">
            <div class="ui transparent icon input">
                <form action="https://www.proginn.com/search?type=user" method="GET">
                    <input type="text" autocomplete="off" value="" name="keyword" placeholder="搜索您感兴趣的程序员">
                </form>
                <i class="search link icon"></i>
            </div>
            <div class="dropdown" style="display:none;" tabindex="-1"></div>
            <div class="dropdown" style="display:none;" tabindex="-1"></div>
        <div class="dropdown" style="display:none;" tabindex="-1"></div></div>
                                <div class="right menu right-menu">
                <style>
                    i.i-icon:before {
                        content: "";
                        background-size: 18px 18px;
                        display: block;
                        float: left;
                        width: 18px;
                        height: 18px;
                    }
                    i.project-icon:before{
                        background-image: url(https://stacdn.proginn.com/image/icons/outsource.png?v=4.9.2);
                    }
                    i.hire-icon:before{
                        background-image: url(https://stacdn.proginn.com/image/icons/hire.png?v=4.9.2);
                    }
                    i.cloud-icon:before{
                        background-image: url(https://stacdn.proginn.com/image/icons/cloud.png?v=4.9.2);
                    }
                    i.todo-icon:before{
                        background-image: url(https://stacdn.proginn.com/image/icons/todo.png?v=4.9.2);
                    }
                    span.other-icon{
                        display: block;
                        margin-left: 30px;
                    }
                </style>
                                <div class="item  item-div">
                    <a class="item a-platform" href="https://www.proginn.com/wo/work_todo"><i class="browser icon"></i>工作台</a>
                    <div class="ui dropdown right top pointing  dropdown-platform" tabindex="-1">
                        <div class="menu platform-menu" style="right: 14px; top: 9px; display: none;" tabindex="-1">
                            <a class="item" href="https://www.proginn.com/wo/work_todo"><i class="i-icon todo-icon"></i><span class="other-icon">我的待办</span></a>
                            <a class="item" href="https://www.proginn.com/wo/work_platform"><i class="i-icon project-icon"></i><span class="other-icon">我的项目</span></a>
                            <a class="item" href="https://www.proginn.com/wo/work_hire"><i class="i-icon hire-icon"></i><span class="other-icon">我的雇佣</span></a>
                            <a class="item" href="https://www.proginn.com/wo/work_cloud"><i class="i-icon cloud-icon"></i><span class="other-icon">我的云端</span></a>
                        </div>
                    </div>

                </div>
                <div class="item msg-box">
                    <div class="ui top right pointing dropdown" data-widget="message-box" tabindex="-1">
                        <span class="header-message">消息</span>
                        <div class="header-message-nums" id="J_messageNums" style="display: none;">1</div>
                        <div class="menu" tabindex="-1">
                            <a class="item" href="https://www.proginn.com/message/system"><i class="blue circle icon small"></i>系统消息 <div class="ui label" id="message_system_nums" style="display:none;">0</div></a>
                            <a class="item" href="https://www.proginn.com/message/project"><i class="orange circle icon small"></i>工作通知 <div class="ui label" id="message_project_nums" style="display:none;">0</div></a>
                            <a class="item" href="https://www.proginn.com/message/comment"><i class="red circle icon small"></i>评论回复  <div class="ui label" id="message_comment_nums" style="display:none;">0</div></a>
                            <a class="item" href="https://www.proginn.com/message/at"><i class="green circle icon small"></i>@我的 <div class="ui label" id="message_at_nums" style="display:none;">0</div></a>
                            <a class="item" href="https://www.proginn.com/message/plus"><i class="pink circle icon small"></i>赞及其它 <div class="ui label" id="message_plus_nums" style="display:none;">0</div></a>
                            <a class="item" href="https://www.proginn.com/message/coin"><i class="yellow circle icon small"></i>收支信息 <div class="ui label" id="message_coin_nums" style="display:none;">0</div></a>
                        </div>
                    </div>
                </div>

                <style>
                    .vip-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 206px;
                    height: 120px;
                    }
                    .vip-info-top {
                    display: flex;
                    width: 142px;
                    }
                    .vip-title {
                    color: #CB9D53;
                    font-size: 16px;
                    line-height: 36px;
                    }
                    .vip-icon {
                    width: 24px;
                    height: 24px;
                    margin: 10px 8px 0 0;
                    }
                    .vip-end-date {
                    font-size: 12px;
                    color: #999;
                    }
                    .vip-arcs {
                    display: flex;
                    justify-content: space-between;
                    width: 142px;
                    margin-top: 11px;
                    }
                    .vip-arc {
                    flex: 1;
                    font-size: 13px;
                    color: #CB9D53;
                    text-align: center;
                    }
                    .vip-arc:first-child {
                    border-right:1px solid rgba(245,245,245,1);
                    }
                    .vip-info-com .vip-title {
                    color: rgb(113, 177, 253);
                    }
                    .vip-info-com .vip-arc {
                    color: rgb(113, 177, 253);
                    }
                    .header-vip-icon {
                    position: absolute;
                    left: 14px;
                    top: 10px;
                    width: 16px;
                    height: 16px;
                    }
                </style>

                <div class="item" style="padding-right: 0;">
                    <div class="ui dropdown right top pointing" tabindex="-1">
                        <a href="https://www.proginn.com/wo/work_todo">
                            <img src="/static/icon902381488626090.jpg!mediumicon" width="30" height="30" id="header_user_nickname_img" style="border-radius: 20px; left: -5px; position: absolute; top: -8px;">
                                                    </a>
                        <a href="https://www.proginn.com/wo/work_todo"><span style="color: black; max-width: 60px; padding-left: 0; padding-right: 0;" class="nickname dib">一直都在流浪</span></a>
                        <div class="menu" tabindex="-1">
                                <!-- 显示会员信息 -->
                                                            <div class="divider"></div>

                            <a class="item" href="https://www.proginn.com/wo/work_platform"><i class="i-icon project-icon"></i><span class="other-icon">我的项目</span></a>
                            <a class="item" href="https://www.proginn.com/wo/work_hire"><i class="i-icon hire-icon"></i><span class="other-icon">我的雇佣</span></a>
                            <a class="item" href="https://www.proginn.com/wo/work_cloud"><i class="i-icon cloud-icon"></i><span class="other-icon">我的云端</span></a>
                            <div class="divider"></div>
                            <a class="item" href="https://www.proginn.com/u/90238"><i class="tags icon"></i>我的主页</a>
                                                        <a href="https://www.proginn.com/index/app" target="_blank" class="item"><i class="wechat icon"></i>关注微信</a>
                            <div class="divider"></div>
                            <a class="item J_LogOut" href="javascript:;" rel="nofollow"><i class="power icon"></i> 退出</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</div>
<script type="text/javascript" src="/static/js/index.js.下载"></script>
			<div class="container">

				
				    <style>
        span{
            /*font-size:12px;*/
        }

        div.heading-category{
            padding-top: 10px;
            width: 100px;
            height: 100%;
            text-align: center;
            float: left;
            font-size: 16px;
            cursor: pointer;
        }
        div.heading-category:hover{
            border-bottom:#0093FD solid ;
            font-weight: bold;
        }
        div.heading-category.active{
            border-bottom:#0093FD solid ;
            font-weight: bold;
        }
        a:link,:active,:visited,:hover{ text-decoration:none;color:#515151 }
        .panel-heading-category {
            height: 50px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-bottom: 1px solid rgba(0,0,0,0.06);
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }
        li.li-class {
            position:relative;
            border-bottom:1px solid rgba(0,0,0,0.06);
            padding-bottom: 30px;
            padding-top: 30px;
        }
        li.li-class:hover {
            background-color: #F7F7F7;
        }
        li.li-class .title-div :hover {
            background-color: #F7F7F7;
            color:#0093FD;
        }

        .left-div{
            float: left;
            margin-left: 15px
        }
        .left-div img{
            height:110px;
            width: 160px;
            border-radius: 2px;
        }
        .right-div{
            height:110px;
            margin-left: 190px;

        }
        .title-div{
            font-weight: bold;
            font-size: 18px;
            font-family:PingFangSC-Semibold ;
            line-height:25px;
        }

        .content-div{
            margin-top: 8px;
            font-size: 12px;
            color:#666666 ;
            width:99%;
        }
        .auth-div{
            float: left;
            font-size: 12px;
        }
        .cate-div{
            float: right;
            right: 10px;
            font-size: 12px;
            display: flex;
            align-items: center;
        }
        .zt_span {
          margin: 0 8px 0 4px;
        }
        .auth-bottom-div{

            position: absolute;
            bottom: 30px;
        }
        .text-div{
            height:110px;
            margin-left: 15px
        }
        .btn-group {
            margin-left: 30px;
            margin-top: 30px;
        }
        .text-right {
            text-align: center;
        }
        .proginn .s-label{
            font-size: 12px;
        }
        .panel-default{
            border-color: transparent;
        }
        .three-txt{
            color:#1b1c1d;
        }
    </style>
    <link href="/static/css/swiper.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/swiper.min.js.下载"></script>
    <div class="col-md-9 topics-index main-col">
        <div class="panel panel-default">

            <div class="panel-heading-category">

                 <div class="heading-category active ">
                    <a href="https://jishuin.proginn.com/default/" title="最新推荐">
                     最新推荐
                     </a>
                     </div><div class="heading-category  ">
                    <a href="https://jishuin.proginn.com/follow/" title="关注">
                     关注
                     </a>
                     </div><div class="heading-category  ">
                    <a href="https://jishuin.proginn.com/hangyeguancha/" title="专栏">
                     专栏
                     </a>
                     </div><div class="heading-category  ">
                    <a href="https://jishuin.proginn.com/tech/" title="技术公司">
                     技术公司
                     </a>
                     </div><div class="heading-category  ">
                    <a href="https://jishuin.proginn.com/kezhandongtai/" title="新闻动态">
                     新闻动态
                     </a>
                     </div><div class="heading-category  ">
                    <a href="https://jishuin.proginn.com/yunduan/" title="推荐项目">
                     推荐项目
                     </a>
                     </div><div class="heading-category  ">
                    <a href="https://jishuin.proginn.com/inncollege/" title="学院">
                     学院
                     </a>
                     </div>                <div class="clearfix"></div>
            </div>

                            <div class="panel-body remove-padding-horizontal">
                    <ul class="list-group row topic-list">
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4386.html" title="C++核心准则边译边学-I.24 避免相同类型的无关参数相邻">
                                        C++核心准则边译边学-I.24 避免相同类型的无关参数相邻                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4386.html">
                                        

                    I.24: Avoid adjacent unrelated parameters of the same type（避免相同类型的无关参数相邻）Reason（原因）Adjacent arguments of the same type are easily...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/370928">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="面向对象思考" src="/static/icon3709281571622924.jpg!20X20">
                                            面向对象思考&nbsp;<span style="color:lightgrey;">|</span>&nbsp;10-26                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4345.html" title="C++核心准则边译边学-I.12 用not_null定义不能为空的指针">
                                        C++核心准则边译边学-I.12 用not_null定义不能为空的指针                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4345.html">
                                        

                    I.12: Declare a pointer that must not be null as not_null（ 用not_null定义不能为空的指针）Reason（原因）To help avoid dereferencing nullptr errors....                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/370928">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="面向对象思考" src="/static/icon3709281571622924.jpg!20X20">
                                            面向对象思考&nbsp;<span style="color:lightgrey;">|</span>&nbsp;10-22                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4406.html" title="C++核心准则边译边学-I.26 如果想要不同编译器都能适用的ABI,使用...">
                                        C++核心准则边译边学-I.26 如果想要不同编译器都能适用的ABI,使用...                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4406.html">
                                        

                    I.26: If you want a cross-compiler ABI, use a C-style subset（如果想要不同编译器都能适用的ABI，使用C风格规则子集）Reason（原因）Different compilers...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/370928">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="面向对象思考" src="/static/icon3709281571622924.jpg!20X20">
                                            面向对象思考&nbsp;<span style="color:lightgrey;">|</span>&nbsp;10-28                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4458.html" title="C++核心准则编译边学-F.3 如果函数非常小而且时间敏感,将其定义为i...">
                                        C++核心准则编译边学-F.3 如果函数非常小而且时间敏感,将其定义为i...                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4458.html">
                                        

                    F.5: If a function is very small and time-critical, declare it inline（如果函数非常小而且时间敏感，将其定义为inline）Reason（原因）Some optimizers a...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/370928">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="面向对象思考" src="/static/icon3709281571622924.jpg!20X20">
                                            面向对象思考&nbsp;<span style="color:lightgrey;">|</span>&nbsp;11-04                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4467.html" title="C++核心准则编译边学-F.6 如果函数不会抛出异常,则声明为noexcept">
                                        C++核心准则编译边学-F.6 如果函数不会抛出异常,则声明为noexcept                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4467.html">
                                        

                    F.6: If your function may not throw, declare it noexcept（如果函数不会抛出异常，则声明为noexcept）Reason(原因)If an exception is not supposed to be...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/370928">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="面向对象思考" src="/static/icon3709281571622924.jpg!20X20">
                                            面向对象思考&nbsp;<span style="color:lightgrey;">|</span>&nbsp;11-05                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">1</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4518.html" title="C++核心准则编译边学-F.15 优先使用简单、常规的方式传递参数">
                                        C++核心准则编译边学-F.15 优先使用简单、常规的方式传递参数                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4518.html">
                                        

                    F.15: Prefer simple and conventional ways of passing information（优先使用简单、常规的方式传递参数）Reason（原因）Using "unusual and clever" techniq...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/370928">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="面向对象思考" src="/static/icon3709281571622924.jpg!20X20">
                                            面向对象思考&nbsp;<span style="color:lightgrey;">|</span>&nbsp;11-10                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4537.html" title="【紧急通知】郑州北方这些爆款清单,你收藏了吗?">
                                        【紧急通知】郑州北方这些爆款清单,你收藏了吗?                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4537.html">
                                        

点击上面“蓝字”关注我们！刚刚过去的双11是不是都在掐着时间抢抢抢买爽了~也抢爽了~一起沦陷在疯狂抢购中以下是刚过去的郑州北方双11爆款清单这些爆款也将是双12的爆款了解更多请往...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/345717">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="狮范课" src="/static/7.png">
                                            狮范课&nbsp;<span style="color:lightgrey;">|</span>&nbsp;4天前                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4232.html" title="使用这几款插件,能让你在GitHub看代码的效率翻倍">
                                        使用这几款插件,能让你在GitHub看代码的效率翻倍                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4232.html">
                                        

                    想必在GitHub上看代码交友等已经成为各大猿友们的日常。想起小编，每每在GitHub上看代码时，总感觉没有直接在IDE上看的方便。但又不想看一个代码就连带git clo...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/345744">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="程序猿声" src="/static/icon3457441566199108.jpg!20X20">
                                            程序猿声&nbsp;<span style="color:lightgrey;">|</span>&nbsp;10-06                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">1</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/3991.html" title="干货 | 求解VRPTW松弛模型的Column Generation算法的JAVA代码分享">
                                        干货 | 求解VRPTW松弛模型的Column Generation算法的JAVA代码分享                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/3991.html">
                                        

                    前言经过小编的不断努力和修正，Column Generation + ESPPRC+ pulse algorithm的内容终于写完了。此过程真是充满曲折啊，希望大家看完多多支持一下。运行说明...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/345744">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="程序猿声" src="/static/icon3457441566199108.jpg!20X20">
                                            程序猿声&nbsp;<span style="color:lightgrey;">|</span>&nbsp;09-03                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                        <li class="li-class" style="margin-top: 0px;">
                            <div class="text-div">
                                <div class="title-div">
                                    <a href="https://jishuin.proginn.com/p/4538.html" title="【算法学习】分枝限界法">
                                        【算法学习】分枝限界法                                    </a>
                                </div>
                                <div class="content-div">
                                    <a href="https://jishuin.proginn.com/p/4538.html">
                                        

                    分枝限界关注那些不断已被他人成功应用的新思路。你的原创思想只应该应用在那些你正在研究的问题上。——托马斯·爱迪生(1847-1931)这周到来的太快，没想到这么快...                                    </a>
                                </div>
                                <div class="auth-bottom-div" style="width:96%;">
                                    <div class="auth-div">
                                        <a href="https://jishuin.proginn.com/user/345744">
                                            <img class="" style="border-radius:50%;" width="20px" height="20px" alt="程序猿声" src="/static/icon3457441566199108.jpg!20X20">
                                            程序猿声&nbsp;<span style="color:lightgrey;">|</span>&nbsp;4天前                                        </a>
                                    </div>

                                    <div class="cate-div">
                                        <img class="" width="16px" height="16px" alt="" src="/static/good-icon.png!16X16">
                                        <span class="zt_span">0</span>

                                      <img class="" width="16px" height="16px" alt="" src="/static/49lQfeB7kX.png!16X16">
                                      <span class="zt_span">0</span>


                                    </div>
                                </div>

                            </div>

                            
                        </li>
                        
                    </ul>

                </div>
                <div class="panel-footer text-right remove-padding-horizontal pager-footer">
                    <!-- Pager -->
                    <ul class="pagination"><li class="disabled"><span>«</span></li> <li class="active"><span>1</span></li><li><a href="https://jishuin.proginn.com/default/2">2</a></li><li><a href="https://jishuin.proginn.com/default/3">3</a></li><li><a href="https://jishuin.proginn.com/default/4">4</a></li><li><a href="https://jishuin.proginn.com/default/5">5</a></li><li><a href="https://jishuin.proginn.com/default/6">6</a></li><li><a href="https://jishuin.proginn.com/default/7">7</a></li><li><a href="https://jishuin.proginn.com/default/8">8</a></li><li class="disabled"><span>...</span></li><li><a href="https://jishuin.proginn.com/default/139">139</a></li><li><a href="https://jishuin.proginn.com/default/140">140</a></li> <li><a href="https://jishuin.proginn.com/default/2" rel="next">»</a></li></ul>
                </div>

                    </div>
        <!-- Nodes Listing -->
    </div>

    <div class="col-md-3 side-bar">

        <div class="panel panel-default" style="padding: 15px;">
            <div class="ui padded grid" style="margin: 0 auto; text-align: center">
                <div class="two column row">
                    <div class="white column" style="margin: 0 auto;text-align: center;">
                        <a href="https://jishuin.proginn.com/user/90238">
                            <img width="80px" height="80px" src="/static/icon902381488626090.jpg!mediumicon" class="ui circular image">
                        </a>
                    </div>

                </div>

            </div>
            <div class="ui padded grid" style="margin: 0 auto; text-align: center">
                <div class="ui mini statistic" style="margin: 0 auto; text-align: center">

                    <div class="value" style="margin-left: -10px;">
                        一直都在流浪                    </div>
                    <div class="s-label">
                        
                    </div>
                </div>
            </div>
                        <div class="" style="margin-top: 30px;margin-left: 35px">

                <a href="https://jishuin.proginn.com/user/90238">
                <div class="ui mini statistic" style="border-right:solid 1px Gainsboro;padding-right: 15px">
                    <div class="value">
                        0
                    </div>
                    <div class="s-label" style="color: #030404;">
                        文章
                    </div>
                </div>
                </a>
                <a href="https://jishuin.proginn.com/users/90238/replies">
                <div class="ui mini statistic" style="border-right:solid 1px Gainsboro;padding-left: 14px;padding-right: 15px">
                    <div class="value">
                        0
                    </div>
                    <div class="s-label" style="color: #030404;">
                        评论
                    </div>
                </div>
                </a>
                <a href="https://jishuin.proginn.com/users/90238/favorites">
                <div class="ui mini statistic" style="padding-left: 14px;">
                    <div class="value">
                        0
                    </div>
                    <div class="s-label" style="color: #030404;">
                        收藏
                    </div>
                </div>
                </a>
            </div>
            
                            <div class="" style="margin-left:20px;margin-top:20px;">
                <a href="https://jishuin.proginn.com/topics/create" class="btn btn-warning btn-lg" style="background-color: #0093FD;border-radius: 2px;width:180px;font-size:14px;height:40px;color:white;">
                    投稿
                </a>
            </div>
                

        </div>

        <div class="clearfix"></div>
        <div class="panel panel-default corner-radius">
            <div class="panel-heading text-center">
                <h3 class="panel-title">关注微信</h3>
            </div>
            <div class="panel-body text-center" style="padding: 7px; padding-top: 8px;">
                <img class="ui rounded image" src="/static/wechat.jpg" style="margin: 20px auto; height: 160px;">
            </div>
        </div>
                    <div style="background: white;padding: 0px 0 0px 0;margin-top: 20px;">
                <div class="home-box swiper-boxs" style="">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-560px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 250px; margin-right: 30px;">
                                    <a href="https://www.mysubmail.com/sms">
                                        <img src="/static/555a61f2e8bb5d1f39200d4a2ecb6391" alt="plat-ensure-img">
                                    </a>
                                </div>
                                                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 250px; margin-right: 30px;">
                                    <a href="https://www.mysubmail.com/sms">
                                        <img src="/static/218041f0c474d4fe8de8b3b005fb7d17" alt="plat-ensure-img">
                                    </a>
                                </div>
                                                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 250px; margin-right: 30px;">
                                    <a href="https://www.mysubmail.com/sms">
                                        <img src="/static/555a61f2e8bb5d1f39200d4a2ecb6391" alt="plat-ensure-img">
                                    </a>
                                </div>
                                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 250px; margin-right: 30px;">
                                    <a href="https://www.mysubmail.com/sms">
                                        <img src="/static/218041f0c474d4fe8de8b3b005fb7d17" alt="plat-ensure-img">
                                    </a>
                                </div></div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
                        <!-- Add Arrows -->

                    </div>
                    <script>
                        var swiper = new Swiper('.swiper-container', {
                            pagination: '.swiper-pagination',

                            slidesPerView: 1,

                            paginationClickable: true,
                            spaceBetween: 30,
                            autoplay: 3000,
                            autoplayDisableOnInteraction: false,
                            loop: true
                        });
                    </script>
                </div>
            </div>

                <style>
            .swiper-container {
                width: 100%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            .swiper-boxs {
                width:250px;
                margin: 0 auto;
                height:369px
            }
            .swiper-boxs a {
                width: 100%;
                height:369px
            }
            .swiper-boxs a img {
                width: 100%;
                height:369px
            }
        </style>
    </div>

			</div>

		</div>
        <div id="footer_dimmer">
            <div class="ui inverted page dimmer">
                <div class="content">
                    <div class="center">
                        <h3 class="ui icon header" id="customized_footer_dimmer_info">
                            <i class="green checkmark icon"></i>
                        </h3>
                        <p style="color: rgb(102, 102, 102);">点击空白处退出提示</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/scripts.js.下载"></script>
        <script src="/static/js/inn.js.下载"></script>
        <script src="/static/js/semantic.js.下载"></script>
        <script src="/static/js/common.js.下载"></script>
        <script>
            /**
             * login
             */
            $(".ajax_login_btn").on('click', function(e){
                e.preventDefault();
                var $resumediv = '<div id="resume_div"></div>';
                $("body").after($resumediv);
                $("#resume_div").load('https://www.proginn.com' + "/user/notloginajax");
            });
            $(document).ready(function(){
              window.timer=null;
              $('div.item-div').bind("mouseover",function(){
                $("div.platform-menu").show();
                if(window.timer){
                  clearTimeout(window.timer)
                }
              });
              $('div.platform-menu').bind("mouseover",function(){
                if(window.timer){
                  clearTimeout(window.timer)
                }else{
                  $("div.platform-menu").show();
                }
              });
              $('div.item-div').bind("mouseleave",function(){
                window.timer=setTimeout(function(){$("div.platform-menu").hide();},100);
              });
                $('div.item-div2').bind("mouseover", function() {
                    $("div.platform-menu2").show();
                    if(window.timer) {
                        clearTimeout(window.timer)
                    }
                });
                $('div.platform-menu2').bind("mouseover", function() {
                    if(window.timer) {
                        clearTimeout(window.timer)
                    } else {
                        $("div.platform-menu2").show();
                    }
                });
                $('div.item-div2').bind("mouseleave", function() {
                    window.timer = setTimeout(function() { $("div.platform-menu2").hide(); }, 100);
                });
                $('.dropdown').dropdown({transition: 'drop'});
                $('.i_header .dropdown').dropdown({on: 'hover'});
                $('.solution').dropdown({on: 'hover'});
                $('.message .close').on('click', function() {
                    $(this).closest('.message').fadeOut();
                });
                $('.ui.checkbox').checkbox();
                $('.header').popup();
                $('.verify a').popup();
                $('.verify_tag').popup();
                $('.progress').popup();
                $('.popup').popup();
                $(".setting_nav_icon").click(function(){
                    $('.setting_nav_icon').transition('tada');
                });
                $(".message_nav_icon").click(function(){
                    $('.message_nav_icon').addClass('red').transition('tada');
                });
                $('.basic.test.modal').modal('show');
                $('.menu .item').tab();
            });
            /**
             * chage online status
             */
            $('#header_online_status').on("click", function () {
                var valonline = $(this).attr("value");
                $.ajax({
                    type: "POST",
                    url: baseUrl + "ajax/changeonlinestatus",
                    data: "valonline=" + valonline,
                    dataType: "json",
                    success: function (msg) {
                        if (msg.status == 'yes') {
                            if (msg.data == 1) {
                                $('#header_online_status').attr({ value: msg.data, title: msg.info}).addClass('checked');
                            } else if (msg.data == 0) {
                                $('#header_online_status').attr({ value: msg.data, title: msg.info}).removeClass('checked');
                            }
                        } else {
                            alert(msg.info);
                        }
                    }
                });
            });

        </script>


	    


        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?18455f493c982100e5a82ec978a8d06e";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
	

<a id="scrollUp" href="https://jishuin.proginn.com/?from=top_nav#top" style="display: none; position: fixed; z-index: 2147483647;">Scroll to top</a></body></html>