<div id="nav">
    <div class="con">
        <div class="log">众包网站</div>
        <ul>
            <li id="l1"><a href="/" class="focus">网站首页</a></li>
            <li id="l2"><a href="/projects">项目列表</a></li>
            <li id="l3"><a href="/cases">案例展示</a></li>
            <li id="l4"><a href="">技术圈</a></li>
            <li id="l5"><a href="/trade">项目交易</a></li>
            <li id="l6"><a href="#">帮助</a>
                <ul id="sub_nav">
                    <li><a href="/guide1">开发者指南 </a></li>
                    <li><a href="/guide2">需求方指南 </a></li>
                </ul>
            </li>
            <li id="l7"><a href="/publish">发布项目</a></li>
        </ul>
        <div class="act">
            <a href="/login">登录</a>
            <a href="/reg">注册</a>
        </div>
    </div>
</div>