{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            众包网站 | 项目交易
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static 'layui-v3.0/res/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layui-v3.0/res/css/global.css' %}">
    <script src="{% static "js/jquery.min.js" %}"></script>

    {% block css %}

    {% endblock %}

    {% block js %}

    {% endblock %}
</head>
{% include 'head.html' %}
<body>
{#留出导航栏的固定宽度#}
<div style="height: 20px"></div>

{% block content %}

{% endblock %}

</body>
{% include 'footer.html' %}
<script src="{% static 'layui-v3.0/res/layui/layui.js' %}"></script>
<!-- 加载js -->
<script src="{% static 'js/index.js' %}"></script>
<script>
    //调用获取焦点的函数
    getFocus($("#l5 a"))
</script>
{% block downjs %}

{% endblock %}
</html>












