<!DOCTYPE html>
<html>
<head>
    <title>外包平台注册登录页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content=""/>

    <!-- Custom Theme files -->
    <link href="/static/css/reg.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Custom Theme files -->
</head>
<body>
<!-- main -->
<div class="main">
    <h1>外包平台注册登录页面</h1>
    <div class="main-w3lsrow">
        <!-- login form -->
        <div class="login-form login-form-left">
            <div class="agile-row">
                <h2>登录</h2>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <p>用户名 </p>
                        <input type="text" class="name" name="user name" required=""/>
                        <p>密码</p>
                        <input type="password" class="password" name="Password" required=""/>
                        <label class="anim">
                            <input type="checkbox" class="checkbox">
                            <span> 记住我 ?</span>
                        </label>
                        <input type="submit" value="登录">
                    </form>
                </div>
                <div class="login-agileits-bottom">
                    <h6><a href="#">忘记密码?</a></h6>
                </div>
            </div>
        </div>
        <!-- reg form -->
        <div class="login-form agileits-right">
            <div class="agile-row">
                <h3>注册</h3>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <p>用户名 </p>
                        <input type="text" class="name" name="user name" required=""/>
                        <p>Email</p>
                        <input type="text" class="email" name="email" required=""/>
                        <p>密码</p>
                        <input type="password" class="password" name="password" required=""/>
                        <label class="anim">
                            <input type="checkbox" class="checkbox">
                            <span> 记住我 ?</span>
                        </label>
                        <input type="submit" value="注册">
                    </form>
                </div>
            </div>
        </div>
        <!-- reg form2 -->
        <div class="login-form agileits-right">
            <div class="agile-row">
                <h3>注册</h3>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <p>用户名 </p>
                        <input type="text" class="name" name="user name" required=""/>
                        <p>Email</p>
                        <input type="text" class="email" name="email" required=""/>
                        <p>密码</p>
                        <input type="password" class="password" name="password" required=""/>
                        <label class="anim">
                            <input type="checkbox" class="checkbox">
                            <span> 记住我 ?</span>
                        </label>
                        <input type="submit" value="注册">
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- //main -->
<!-- copyright -->
<div class="copyright">
    <p> © 2019 Creative Multiple Forms . All rights reserved</p>
</div>
<!-- //copyright -->
</body>
</html>
